force-app/main/default/flows/After_Create_ATA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>O_registro_esta_sendo_criado</name>
        <label>O registro esta sendo criado?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Criar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_atualiza_campo</targetReference>
            </connector>
            <label>Criar</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>After Create ATA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Create ATA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>O_registro_esta_sendo_criado</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fluxo_atualiza_campo</name>
        <label>Fluxo atualiza campo</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Fluxo_de_atualizar_campo</flowName>
        <inputAssignments>
            <name>IdAgendamento</name>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdAta</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
