force-app/main/default/flows/Ata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>DECExisteAtaConclusaoNegociacao</name>
        <label>Existe Ata de Conclusão de Negociação</label>
        <locationX>933</locationX>
        <locationY>1196</locationY>
        <defaultConnector>
            <targetReference>AtaConclusaoNegociacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>DECExisteAtaConclusaoNegociacaoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIConclusaoNegociacao</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaAtaConclusaoNegociacao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrimeiraVisitaRealizada</name>
        <label>Primeira Visita Realizada?</label>
        <locationX>2613</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>TelaStatusCaptacaoPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>PrimeiraVisitaRealizadaSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.PrimeiraVisitaRealizada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaStatusCaptacaoPJ</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusLeadPF</name>
        <label>Status do Lead PF</label>
        <locationX>425</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>TelaStatusTodasPF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>StatusLeadPFQualificacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualificação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaStatusQualificacaoPF</targetReference>
            </connector>
            <label>Qualificação</label>
        </rules>
        <rules>
            <name>StatusLeadPFNegociacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negociação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaStatusNegociacaoPF</targetReference>
            </connector>
            <label>Negociação</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusLeadPJ</name>
        <label>Status do Lead PJ</label>
        <locationX>2370</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>TelaStatusQualificacaoPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alavancagem / Convertido</defaultConnectorLabel>
        <rules>
            <name>StatusLeadPJQualificacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualificação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaStatusQualificacaoPJ</targetReference>
            </connector>
            <label>Qualificação</label>
        </rules>
        <rules>
            <name>StatusLeadPJNegociacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negociação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaStatusNegociacaoPJ</targetReference>
            </connector>
            <label>Negociação</label>
        </rules>
        <rules>
            <name>StatusLeadPJCaptacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Captação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrimeiraVisitaRealizada</targetReference>
            </connector>
            <label>Captação</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoAta</name>
        <label>Tipo de Ata</label>
        <locationX>1144</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TipoAtaCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaCall</targetReference>
            </connector>
            <label>Call</label>
        </rules>
        <rules>
            <name>TipoAtaClienteAusente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClienteAusente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaClienteAusente</targetReference>
            </connector>
            <label>Cliente Ausente</label>
        </rules>
        <rules>
            <name>TipoConclusaoNegociacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ConclusaoNegociacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DECExisteAtaConclusaoNegociacao</targetReference>
            </connector>
            <label>Conclusão de Negociação</label>
        </rules>
        <rules>
            <name>TipoManutencaoCorretora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ManutencaoCorretora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaManutencaoCorretora</targetReference>
            </connector>
            <label>Manutenção Corretora</label>
        </rules>
        <rules>
            <name>TipoImplantacaoCorretora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ImplantacaoCorretora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaImplantacaoCorretora</targetReference>
            </connector>
            <label>Implantação Corretora</label>
        </rules>
        <rules>
            <name>TipoApresentacaoPropostaNegociacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ApresentacaoPropostaNegociacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaApresentacaoPropostaNegoficacao</targetReference>
            </connector>
            <label>Apresentação de Proposta e Negociação</label>
        </rules>
        <rules>
            <name>TipoLojaFisica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LojaFisica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaLojaFisica</targetReference>
            </connector>
            <label>Loja Física</label>
        </rules>
        <rules>
            <name>TipoImplantacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implantacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaImplantacao</targetReference>
            </connector>
            <label>Implantação</label>
        </rules>
        <rules>
            <name>TipoManutencaoRelacionamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ManutencaoRelacionamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaManutencaoRelacionamento</targetReference>
            </connector>
            <label>Manutenção Relacionamento</label>
        </rules>
        <rules>
            <name>TipoProspeccaoCorretora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProspeccaoCorretora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaProspeccaoCorretora</targetReference>
            </connector>
            <label>Prospecção Corretora</label>
        </rules>
        <rules>
            <name>ProspeccaoEmpresarial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProspeccaoEmpresarial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaProspeccaoEmpresarial</targetReference>
            </connector>
            <label>Prospecção Empresarial</label>
        </rules>
        <rules>
            <name>ProspecaoPessoaFisica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProspeccaoPessoaFisica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtaProspeccaoPessoaFisica</targetReference>
            </connector>
            <label>Prospecção Pessoa Física</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoCliente</name>
        <label>Tipo de Cliente</label>
        <locationX>1145</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>VerificacaoAtaDependentes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pessoa Jurídica</defaultConnectorLabel>
        <rules>
            <name>PessoaFisica</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead.TipoAtendimento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pessoa Física</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.TipoAtendimento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pessoa Física RN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.TipoAtendimento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Médico Cooperado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusLeadPF</targetReference>
            </connector>
            <label>Pessoa Física</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificacaoAtaDependentes</name>
        <label>Verificação Ata Dependentes</label>
        <locationX>2009</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>TelaAtaDependenciaPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Concluída</defaultConnectorLabel>
        <rules>
            <name>VerificacaoPrimeiraVisita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.PrimeiraVisitaRealizada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusLeadPJ</targetReference>
            </connector>
            <label>Primeira Visita Realizada</label>
        </rules>
        <rules>
            <name>VerificacaoAtaDependentesConcluid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.AtaDependenciaFinalizada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusLeadPJ</targetReference>
            </connector>
            <label>Ata Dependência Concluída</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaVisitaIniciada</name>
        <label>Verifica Visita Iniciada</label>
        <locationX>1364</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>Tela</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VerificaVisitaIniciadaSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterAtaConclusaoNegociacao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPF</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implantacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplantacaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoEmpresarial</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPFNegociacao</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ApresentacaoPropostaNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implantacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplantacaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoEmpresarial</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPFQualificacao</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ConclusaoNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implantacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplantacaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LojaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoEmpresarial</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPFTodas</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ApresentacaoPropostaNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ConclusaoNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implantacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplantacaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LojaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoEmpresarial</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPJ</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPJCaptacao</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ApresentacaoPropostaNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ConclusaoNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implantacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplantacaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LojaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoPessoaFisica</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPJDependencia</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ApresentacaoPropostaNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ConclusaoNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implantacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplantacaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LojaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoPessoaFisica</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePickListPJNegociacao</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ApresentacaoPropostaNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoEmpresarial</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoPessoaFisica</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPJQualificacao</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ConclusaoNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implantacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplantacaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LojaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoEmpresarial</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoPessoaFisica</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypePicklistPJTodas</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ApresentacaoPropostaNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ConclusaoNegociacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implantacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplantacaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LojaFisica</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ManutencaoRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoEmpresarial</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoCorretora</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProspeccaoPessoaFisica</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Ata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>ObterAtaConclusaoNegociacao</name>
        <label>Obter Ata Conclusão de Negociação</label>
        <locationX>1370</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecorTypeDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ConclusaoNegociacao</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIConclusaoNegociacao</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterLead</name>
        <label>Obter Lead</label>
        <locationX>1051</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TipoCliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>TipoAtendimento__c</queriedFields>
        <queriedFields>PrimeiraVisitaRealizada__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterWorkOrder</name>
        <label>Obter WorkOrder</label>
        <locationX>1104</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterAtaConclusaoNegociacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>AtaDependenciaFinalizada__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <screens>
        <name>Tela</name>
        <label>Tela</label>
        <locationX>1758</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEPreencherAta</name>
            <fieldText>&lt;p&gt;Não é possível preencher a Ata antes de iniciar a visita.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaAtaConclusaoNegociacao</name>
        <label>Tela Ata Conclusão de Negociação</label>
        <locationX>663</locationX>
        <locationY>1247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExAtaConclusaoNegociacao</name>
            <fieldText>&lt;p&gt;Ata de Conclusão de Negociação já está vinculada a essa visita.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaAtaDependenciaPJ</name>
        <label>Primeira Visita -  Pessoa Jurídica</label>
        <locationX>1599</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAta</targetReference>
        </connector>
        <fields>
            <name>RecordTypeListPJDependencia</name>
            <choiceReferences>RecordTypePicklistPJDependencia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Ata</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaStatusCaptacaoPJ</name>
        <label>Captação - Pessoa Jurídica</label>
        <locationX>2416</locationX>
        <locationY>788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAta</targetReference>
        </connector>
        <fields>
            <name>RecordTypeListPJCaptacao</name>
            <choiceReferences>RecordTypePicklistPJCaptacao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Ata</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaStatusNegociacaoPF</name>
        <label>Negociação - Pessoa Física</label>
        <locationX>125</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAta</targetReference>
        </connector>
        <fields>
            <name>RecordTypeListPFNegociacao</name>
            <choiceReferences>RecordTypePicklistPFNegociacao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Ata</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaStatusNegociacaoPJ</name>
        <label>Negociação - Pessoa Jurídica</label>
        <locationX>2768</locationX>
        <locationY>627</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAta</targetReference>
        </connector>
        <fields>
            <name>RecordTypeListPJNegociacao</name>
            <choiceReferences>RecordTypePickListPJNegociacao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de ata</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaStatusQualificacaoPF</name>
        <label>Qualificação - Pessoa Física</label>
        <locationX>73</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAta</targetReference>
        </connector>
        <fields>
            <name>RecordTypeListPFQualificacao</name>
            <choiceReferences>RecordTypePicklistPFQualificacao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Ata</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaStatusQualificacaoPJ</name>
        <label>Qualificação - Pessoa Jurídica</label>
        <locationX>2872</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAta</targetReference>
        </connector>
        <fields>
            <name>RecordTypeListPJQualificacao</name>
            <choiceReferences>RecordTypePicklistPJQualificacao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Ata</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaStatusTodasPF</name>
        <label>Captação - Pessoa Física</label>
        <locationX>187</locationX>
        <locationY>694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAta</targetReference>
        </connector>
        <fields>
            <name>RecordTypeListPFTodas</name>
            <choiceReferences>RecordTypePicklistPFTodas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Ata</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaStatusTodasPJ</name>
        <label>Captação sem DP - Pessoa Jurídica</label>
        <locationX>2731</locationX>
        <locationY>891</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAta</targetReference>
        </connector>
        <fields>
            <name>RecordTypeListPJTodas</name>
            <choiceReferences>RecordTypePicklistPJTodas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Ata</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>645</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AtaApresentacaoPropostaNegoficacao</name>
        <label>Ata - Apresentação de Proposta e Negoficação</label>
        <locationX>776</locationX>
        <locationY>958</locationY>
        <flowName>AtaPropostaNegociacao</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaCall</name>
        <label>Ata - Call</label>
        <locationX>712</locationX>
        <locationY>875</locationY>
        <flowName>AtaCall</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaClienteAusente</name>
        <label>Ata - Cliente Ausente</label>
        <locationX>879</locationX>
        <locationY>1061</locationY>
        <flowName>AtaClienteAusente</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaConclusaoNegociacao</name>
        <label>Ata - Conclusão de Negociação</label>
        <locationX>845</locationX>
        <locationY>1351</locationY>
        <flowName>AtaConclusaoNegociacao</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaImplantacao</name>
        <label>Ata - Implantação</label>
        <locationX>1062</locationX>
        <locationY>1250</locationY>
        <flowName>AtaImplantacao</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaImplantacaoCorretora</name>
        <label>Ata - Implantação Corretora</label>
        <locationX>1153</locationX>
        <locationY>1372</locationY>
        <flowName>AtaImplantacaoCorretoraa</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaLojaFisica</name>
        <label>Ata - Loja Física</label>
        <locationX>1249</locationX>
        <locationY>1250</locationY>
        <flowName>AtaLojaFisica</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaManutencaoCorretora</name>
        <label>Ata - Manutenção Corretora</label>
        <locationX>1348</locationX>
        <locationY>1121</locationY>
        <flowName>AtaManutencaoCorretora</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaManutencaoRelacionamento</name>
        <label>Ata - Manutenção Relacionamento</label>
        <locationX>1447</locationX>
        <locationY>1042</locationY>
        <flowName>AtaManutencaoRelacionamento</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaProspeccaoCorretora</name>
        <label>Ata - Prospecção Corretora</label>
        <locationX>1571</locationX>
        <locationY>946</locationY>
        <flowName>AtaProspeccaoCorretora</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordType</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaProspeccaoEmpresarial</name>
        <label>Ata - Prospecção Empresarial</label>
        <locationX>1661</locationX>
        <locationY>880</locationY>
        <flowName>AtaProspeccaoEmpresarial</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AtaProspeccaoPessoaFisica</name>
        <label>Ata - Prospecção Pessoa Física</label>
        <locationX>548</locationX>
        <locationY>788</locationY>
        <flowName>AtaProspeccaoPF</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>WorkOrder.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIConclusaoNegociacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
