force-app/main/default/flows/AtaConclusaoNegociacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>DECHouveInclusaoOpcionais</name>
        <label>Houve inclusão de opcionais?</label>
        <locationX>616</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>ObterTA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DECHouveInclusaoOpcionaisSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdicaoOpcionais</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adicionais</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECMotivoDataRetorno</name>
        <label>Motivo para data de retorno</label>
        <locationX>1134</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>DECHouveInclusaoOpcionais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DECMotivoDataRetornoSim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>QualMotivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avaliar com decisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QualMotivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente de documentação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QualMotivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sem condição financeira</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QualMotivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em cotação de mercado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QualMotivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preço superior ao plano atual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaDataRetorno</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECVendaConcluida</name>
        <label>Venda foi Concluída</label>
        <locationX>609</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>MotivoNaoFechamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DECVendaConcluidaSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendaConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DECHouveInclusaoOpcionais</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LO_QualMotivo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motivo__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opcionais</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OpcionaisIncluidos__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata - Conclusão da Negociação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Conclusão da Negociação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarAta</name>
        <label>Criar Ata</label>
        <locationX>615</locationX>
        <locationY>1117</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>DataRetorno__c</field>
            <value>
                <elementReference>DataRetorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouveInclusaoAdicionais__c</field>
            <value>
                <elementReference>AdicaoOpcionais</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo__c</field>
            <value>
                <elementReference>QualMotivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesGerais__c</field>
            <value>
                <elementReference>ObservacoesGerais</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpcionaisIncluidos__c</field>
            <value>
                <elementReference>SelecioneOpcionais</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendaConcluida__c</field>
            <value>
                <elementReference>VendaConcluida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterTA</name>
        <label>Obter Tipo de agendamento</label>
        <locationX>616</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Assinatura</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Adicionais</name>
        <label>Adicionais</label>
        <locationX>503</locationX>
        <locationY>807</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterTA</targetReference>
        </connector>
        <fields>
            <name>SelecioneOpcionais</name>
            <choiceReferences>Opcionais</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione os opcionais incluídos</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;4/4&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AtaConclusaoNegociacao</name>
        <label>Ata - Conclusão da Negociação</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECVendaConcluida</targetReference>
        </connector>
        <fields>
            <name>VendaConcluida</name>
            <dataType>Boolean</dataType>
            <fieldText>A venda foi concluída?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AdicaoOpcionais</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve adição de opcionais?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObservacoesGerais</name>
            <dataType>String</dataType>
            <fieldText>Observações gerais</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/4&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MotivoNaoFechamento</name>
        <label>Motivo do Não Fechamento da Venda</label>
        <locationX>962</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DECMotivoDataRetorno</targetReference>
        </connector>
        <fields>
            <name>QualMotivo</name>
            <choiceReferences>LO_QualMotivo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qual o motivo?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/4&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaDataRetorno</name>
        <label>Tela Data de Retorno</label>
        <locationX>1138</locationX>
        <locationY>667</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DECHouveInclusaoOpcionais</targetReference>
        </connector>
        <fields>
            <name>DataRetorno</name>
            <dataType>Date</dataType>
            <fieldText>Informe a data de retorno</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>paginacao3</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;3/4&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AtaConclusaoNegociacao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
