force-app/main/default/flows/AtaCall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>HAC</name>
        <label>Houve acompanhamento da corretora?</label>
        <locationX>798</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>ObterTA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>HAC_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HouveAcompanhamentoCorretora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complemento</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LO_SelecioneCorretora</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Corretora__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LO_SelecioneMotivoVisitaCall</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotivoVisitaCall__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata - Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarAta</name>
        <label>Criar Ata</label>
        <locationX>797</locationX>
        <locationY>851</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>TelaCarregarAudio</targetReference>
        </connector>
        <inputAssignments>
            <field>Corretora__c</field>
            <value>
                <elementReference>SelecioneCorretora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouveAcompanhamentoCorretora__c</field>
            <value>
                <elementReference>HouveAcompanhamentoCorretora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoVisitaCall__c</field>
            <value>
                <elementReference>SelecioneMotivoVisita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeRepresentanteCorretora__c</field>
            <value>
                <elementReference>NomeRepresetanteCorretora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesGerais__c</field>
            <value>
                <elementReference>ObservacoesGeraisCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistroCliente__c</field>
            <value>
                <elementReference>RegistroCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterTA</name>
        <label>Obter Tipo de agendamento</label>
        <locationX>798</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Call</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CadastroCall</name>
        <label>Cadastro Call</label>
        <locationX>805</locationX>
        <locationY>36</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HAC</targetReference>
        </connector>
        <fields>
            <name>SelecioneMotivoVisita</name>
            <choiceReferences>LO_SelecioneMotivoVisitaCall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o motivo da visita</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObservacoesGeraisCall</name>
            <dataType>String</dataType>
            <fieldText>Observações gerais da call</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HouveAcompanhamentoCorretora</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve acompanhamento da corretora?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/2&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complemento</name>
        <label>Complemento</label>
        <locationX>583</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterTA</targetReference>
        </connector>
        <fields>
            <name>SelecioneCorretora</name>
            <choiceReferences>LO_SelecioneCorretora</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione a corretora</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NomeRepresetanteCorretora</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do represetante da corretora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RegistroCliente</name>
            <dataType>String</dataType>
            <fieldText>Registro do cliente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>paginacao2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/2&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaCarregarAudio</name>
        <label>Tela Carregar Áudio</label>
        <locationX>796</locationX>
        <locationY>1036</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InformacaoAudio</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Para enviar um áudio, acesse o &quot;Feed&quot; do registro da ata relacionada e crie uma nova publicação selecionando o áudio desejado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CadastroCall</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
