force-app/main/default/flows/AtaClienteAusente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>ATPF</name>
        <label>ATPF</label>
        <locationX>40</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>VARTipoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClientePF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ATPJ_0</name>
        <label>ATPJ</label>
        <locationX>318</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>VARTipoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PJ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClientePJ</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECTipoCliente</name>
        <label>Tipo de cliente</label>
        <locationX>47</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>ATPF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pessoa Física</defaultConnectorLabel>
        <rules>
            <name>TipoClientePessoaJurdica</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TipoAtendimento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PessoaJuridica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoAtendimento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PessoaJuridicaEnterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATPJ_0</targetReference>
            </connector>
            <label>Pessoa Jurídica</label>
        </rules>
    </decisions>
    <decisions>
        <name>TC</name>
        <label>Qual tipo de cliente</label>
        <locationX>444</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>ClientePJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TC_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LO_TipoCliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientePF</targetReference>
            </connector>
            <label>PF</label>
        </rules>
    </decisions>
    <description>Fluxo relacionado as Atas do tipo de cliente Ausente</description>
    <dynamicChoiceSets>
        <name>LO_MotivoClientePF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotivoVisita__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LO_MotivoVisitaPJ</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotivoVisitaPJClienteAusente__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LO_TipoCliente</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoCliente__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata - Cliente Ausente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Cliente Ausente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarRegistroPF</name>
        <label>Criar registro PF</label>
        <locationX>164</locationX>
        <locationY>643</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>TelaCapturarImagem</targetReference>
        </connector>
        <inputAssignments>
            <field>JustificativaClienteAusente__c</field>
            <value>
                <elementReference>JustificativaClienteAusentePF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoVisita__c</field>
            <value>
                <elementReference>MotivoVisitaPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoCliente__c</field>
            <value>
                <elementReference>VARTipoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>CriarRegistroPJ</name>
        <label>Criar registro PJ</label>
        <locationX>622</locationX>
        <locationY>654</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>TelaCapturarImagem</targetReference>
        </connector>
        <inputAssignments>
            <field>JustificativaClienteAusente__c</field>
            <value>
                <elementReference>JustificativaClienteAusentePJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoVisitaPJClienteAusente__c</field>
            <value>
                <elementReference>MotivoVisitaPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeContatoEmpresa__c</field>
            <value>
                <elementReference>NomeContatoEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoCliente__c</field>
            <value>
                <elementReference>VARTipoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Obter_tipo_de_atendimento</name>
        <label>Obter tipo de atendimento</label>
        <locationX>176</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECTipoCliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>TipoAtendimento</assignToReference>
            <field>TipoCliente__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterTA</name>
        <label>Obter Tipo de agendamento</label>
        <locationX>550</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_tipo_de_atendimento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Assinatura</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarAtaDependencia</name>
        <label>Atualizar Ata de Dependência</label>
        <locationX>732</locationX>
        <locationY>1101</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AtaDependenciaFinalizada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>AtaClienteAusente</name>
        <label>Ata - Cliente Ausente</label>
        <locationX>729</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TC</targetReference>
        </connector>
        <fields>
            <name>TipoCliente</name>
            <choiceReferences>LO_TipoCliente</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de cliente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ClientePF</name>
        <label>Cliente PF</label>
        <locationX>164</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CriarRegistroPF</targetReference>
        </connector>
        <fields>
            <name>MotivoVisitaPF</name>
            <choiceReferences>LO_MotivoClientePF</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o motivo da visita</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>JustificativaClienteAusentePF</name>
            <dataType>String</dataType>
            <fieldText>Informe justificativa cliente ausente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A justificativa deve conter pelo menos 10 caracteres.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!JustificativaClienteAusentePF}) &gt; 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>paginacao2a</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ClientePJ</name>
        <label>Cliente PJ</label>
        <locationX>621</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CriarRegistroPJ</targetReference>
        </connector>
        <fields>
            <name>MotivoVisitaPJ</name>
            <choiceReferences>LO_MotivoVisitaPJ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o motivo da visita</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NomeContatoEmpresa</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do contato da empresa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>JustificativaClienteAusentePJ</name>
            <dataType>String</dataType>
            <fieldText>Informe a justificativa do cliente ausente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A justificativa deve conter pelo menos 10 caracteres.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!JustificativaClienteAusentePJ}) &gt; 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>pagincao2b</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaCapturarImagem</name>
        <label>Tela Capturar Imagem</label>
        <locationX>396</locationX>
        <locationY>980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtualizarAtaDependencia</targetReference>
        </connector>
        <fields>
            <name>CapturarImagem</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WorkOrderLineItemId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capturar Imagem</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao3</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;3/3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterTA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoAtendimento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VARTipoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
