force-app/main/default/flows/AtaImplantacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>DecisaoAssinatura</name>
        <label>Decisão Assinatura</label>
        <locationX>465</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>TelaJustAuAss</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SimAssinaturaProspectRegistrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssinaturaProspectRegistrada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterTA</targetReference>
            </connector>
            <label>Sim - Assinatura do prospect foi registrada?</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisoesAtaImplantacao</name>
        <label>Decisões Ata Implantação</label>
        <locationX>462</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>DecisaoAssinatura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CHouveParticipacaoMembrosGRCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HouveParticipacaoMembrosGRCC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DadosGRCCCorretora</targetReference>
            </connector>
            <label>HouveParticipacaoMembrosGRCC</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnalistaGRCCParticipante</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AnalistaGRCCParticipanteVisita__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CorretoraParticipante</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Corretora__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MotivoVisitaImplantacao</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotivoVisitaImplantacao__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata - Implantação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Implantação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarAta</name>
        <label>Criar Ata</label>
        <locationX>470</locationX>
        <locationY>740</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>AnalistaGRCCParticipanteVisita__c</field>
            <value>
                <elementReference>SelecionaAnalistaGRCCParticipante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssinaturaProspectRegistrada__c</field>
            <value>
                <elementReference>AssinaturaProspectRegistrada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoContatoEmpresa__c</field>
            <value>
                <elementReference>InformeNomeCargoContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corretora__c</field>
            <value>
                <elementReference>SelecionaCorretoraParticipante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouveParticipacaoAlgumaCorretora__c</field>
            <value>
                <elementReference>HouveParticipacaoCorretora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JustificativaAusenciaAsProspect__c</field>
            <value>
                <elementReference>JustificativaAusenciaAssinaturaProspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoVisitaImplantacao__c</field>
            <value>
                <elementReference>SelevioneMotivoVisita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeContatoEmpresa__c</field>
            <value>
                <elementReference>InformeNomeContatoEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesGerais__c</field>
            <value>
                <elementReference>ObervacoesVisita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipacaoAlgumAnalistaGRC__c</field>
            <value>
                <elementReference>HouveParticipacaoMembrosGRCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterTA</name>
        <label>Obter Tipo de agendamento</label>
        <locationX>470</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Assinatura</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AtaImplantacao</name>
        <label>Ata - Implantação</label>
        <locationX>469</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisoesAtaImplantacao</targetReference>
        </connector>
        <fields>
            <name>SelevioneMotivoVisita</name>
            <choiceReferences>MotivoVisitaImplantacao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o motivo da visita</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InformeNomeContatoEmpresa</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do contato da empresa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InformeNomeCargoContato</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do cargo no contato da empresa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssinaturaProspectRegistrada</name>
            <dataType>Boolean</dataType>
            <fieldText>Assinatura do prospect foi registrada?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HouveParticipacaoMembrosGRCC</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve participação de membros do GRCC??</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HouveParticipacaoCorretora</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve participação de alguma corretora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObervacoesVisita</name>
            <dataType>String</dataType>
            <fieldText>Observações da visita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DadosGRCCCorretora</name>
        <label>Dados de GRCC e Corretora</label>
        <locationX>820</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoAssinatura</targetReference>
        </connector>
        <fields>
            <name>SelecionaAnalistaGRCCParticipante</name>
            <choiceReferences>AnalistaGRCCParticipante</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione Analista da GRCC Participante da Visita</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelecionaCorretoraParticipante</name>
            <choiceReferences>CorretoraParticipante</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione Corretora que participou</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaJustAuAss</name>
        <label>TelaJustAuAss</label>
        <locationX>227</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterTA</targetReference>
        </connector>
        <fields>
            <name>JustificativaAusenciaAssinaturaProspect</name>
            <dataType>String</dataType>
            <fieldText>Justificativa da ausência da assinatura do prospect</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao3</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;3/3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AtaImplantacao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
