force-app/main/default/flows/AtaLojaFisica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>DecisoesAtaLojaFisica</name>
        <label>DecisõesAtaLojaFisica</label>
        <locationX>670</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VendaFechada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendaConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuantidadeVidas</targetReference>
            </connector>
            <label>Venda Fechada</label>
        </rules>
        <rules>
            <name>VendaPerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendaConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MotivoNaoFechamentoVenda</targetReference>
            </connector>
            <label>Venda Perdida</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MotivoNaoFechamento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotivoNaoFechamento__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata - Loja Física {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Loja Física</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarAta</name>
        <label>Criar Ata</label>
        <locationX>616</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>CNPJCPF__c</field>
            <value>
                <elementReference>CPFCNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClienteCompareceu__c</field>
            <value>
                <elementReference>ClienteCompareceu</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HorarioAtendimento__c</field>
            <value>
                <elementReference>InformacoesAgendamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroVidas__c</field>
            <value>
                <elementReference>NumeroVidas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendaConcluida__c</field>
            <value>
                <elementReference>VendaConcluida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterTA</name>
        <label>Obter Tipo de agendamento</label>
        <locationX>617</locationX>
        <locationY>643</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Assinatura</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AtaLojaFisica</name>
        <label>Ata - Loja Física</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisoesAtaLojaFisica</targetReference>
        </connector>
        <fields>
            <name>ClienteCompareceu</name>
            <dataType>Boolean</dataType>
            <fieldText>Cliente compareceu?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InformacoesAgendamento</name>
            <dataType>DateTime</dataType>
            <fieldText>Informações sobre o agendamento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CPFCNPJ</name>
            <dataType>String</dataType>
            <fieldText>CPF/CPNJ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VendaConcluida</name>
            <dataType>Boolean</dataType>
            <fieldText>Venda foi concluída?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/2&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MotivoNaoFechamentoVenda</name>
        <label>Motivo Não Fechamento</label>
        <locationX>619</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterTA</targetReference>
        </connector>
        <fields>
            <name>SelecioneMotivoNaoFechamento</name>
            <choiceReferences>MotivoNaoFechamento</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Motivo do Não Fechamento da Venda</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao2b</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/2&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QuantidadeVidas</name>
        <label>Quantidade de Vidas</label>
        <locationX>345</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterTA</targetReference>
        </connector>
        <fields>
            <name>NumeroVidas</name>
            <dataType>Number</dataType>
            <fieldText>Número de Vidas</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>paginacao2a</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/2&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AtaLojaFisica</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
