force-app/main/default/flows/AtaManutencaoRelacionamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AT_Nao_Plano_Regulamentado</name>
        <label>AT - Não - Plano Regulamentado</label>
        <locationX>1076</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference>VARPlanoRegulamentado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisaoContigente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AT_Sim_Plano_Regulamentado</name>
        <label>AT - Sim - Plano Regulamentado</label>
        <locationX>777</locationX>
        <locationY>1017</locationY>
        <assignmentItems>
            <assignToReference>VARPlanoRegulamentado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisaoContigente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuicaoSimEmpresaPossuiAssistenciaMedica</name>
        <label>Atribuição Sim Empresa Possui Assistência Médica</label>
        <locationX>372</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>VAREmpressaPossuiAssistenciaMedica</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DadosOperadora</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiNaoEmpresaPossuiAssistenciaMedica</name>
        <label>Atribuição Não Empresa Possui Assistência Médica</label>
        <locationX>801</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>VAREmpressaPossuiAssistenciaMedica</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DadosOperadora_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisaoAlteracaoDadosProspeccao</name>
        <label>DecisãoAlteraçãoDadosProspecção</label>
        <locationX>619</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>DecisaoSobreAssistenciaMedica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>HouveAlteracao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlteracaoDadosProspeccao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmpresaPossuiAssistencia</targetReference>
            </connector>
            <label>Houve Alteração</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoAssinatura</name>
        <label>Decisão Sobre Assinatura</label>
        <locationX>608</locationX>
        <locationY>2081</locationY>
        <defaultConnector>
            <targetReference>ObterTipoAgendamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AssinaturaNaoColetada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssinaturaRegistrada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MotivoFaltaAssinatura</targetReference>
            </connector>
            <label>Assinatura Não Coletada</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoContigente</name>
        <label>Decisão sobre Contigente</label>
        <locationX>616</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>HouveAlteracaoContigente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlteracaoContigente_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InformacoesContingente</targetReference>
            </connector>
            <label>Houve Alteração</label>
        </rules>
        <rules>
            <name>NaoHouveAlteracaoContingente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlteracaoContigente_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brinde</targetReference>
            </connector>
            <label>Não Houve Alteração Contingente</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoPlanoRegulamentado</name>
        <label>Decisão Plano Regulamentado</label>
        <locationX>895</locationX>
        <locationY>922</locationY>
        <defaultConnector>
            <targetReference>AT_Nao_Plano_Regulamentado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SimPlanoRegulamentado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanoRegulamentado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AT_Sim_Plano_Regulamentado</targetReference>
            </connector>
            <label>Sim - Plano Regulamentado</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoSobreAssistenciaMedica</name>
        <label>Decisão Sobre Assistência Médica</label>
        <locationX>632</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>AtribuiNaoEmpresaPossuiAssistenciaMedica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>JaPossui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaPossuiAssistenciaMedica</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuicaoSimEmpresaPossuiAssistenciaMedica</targetReference>
            </connector>
            <label>Já Possui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoSobreBrinde</name>
        <label>Decisão Sobre Brinde</label>
        <locationX>616</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>BrindeFoiEntregue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrindeEntregue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InformacoesSobreBrinde</targetReference>
            </connector>
            <label>Brinde Foi Entregue</label>
        </rules>
        <rules>
            <name>BrindeNaoEntregue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrindeEntregue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObservacoesSobreVisita</targetReference>
            </connector>
            <label>Brinde Não Entregue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OperadoraAtual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operadora__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata - Manutenção Relacionamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Manutenção Relacionamento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarAta</name>
        <label>Criar Ata</label>
        <locationX>612</locationX>
        <locationY>2576</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>AbrangenciaCadaProduto__c</field>
            <value>
                <elementReference>AbrangenciaProduto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnosContratoAtualAtivo__c</field>
            <value>
                <elementReference>AnosAtivos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssinaturaProspectRegistrada__c</field>
            <value>
                <elementReference>AssinaturaRegistrada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoContatoEmpresa__c</field>
            <value>
                <elementReference>CargoContatoEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContingenteMaximo__c</field>
            <value>
                <elementReference>ContingenteMaximo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContingenteMinimo__c</field>
            <value>
                <elementReference>ContigenteMinimo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataBaseUltimoReajuste__c</field>
            <value>
                <elementReference>DataBase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmpresaPossuiAssistenciaMedica__c</field>
            <value>
                <elementReference>VAREmpressaPossuiAssistenciaMedica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouveAlteracaoContingente__c</field>
            <value>
                <elementReference>AlteracaoContigente_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouveAlteracaoDadosProspeccao__c</field>
            <value>
                <elementReference>AlteracaoDadosProspeccao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouveEntregaBrinde__c</field>
            <value>
                <elementReference>BrindeEntregue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JustificativaAusenciaAsProspect__c</field>
            <value>
                <elementReference>MotivoFaltaAssinaturaProspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeBrindeEntregue__c</field>
            <value>
                <elementReference>NomeBrindeEntregue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeContatoEmpresa__c</field>
            <value>
                <elementReference>NomeContatoEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomesProdutos__c</field>
            <value>
                <elementReference>NomesOutrosProdutos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesVisita__c</field>
            <value>
                <elementReference>ObservacoesVisita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operadora__c</field>
            <value>
                <elementReference>InformeOperadoraAtual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutraOperadora__c</field>
            <value>
                <elementReference>InformeNomeOutraOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentualSinistralidade__c</field>
            <value>
                <elementReference>PercentualSinistralidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentualUltimoReajuste__c</field>
            <value>
                <elementReference>PercentualUltimoReajuste</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlanoRegulamentado__c</field>
            <value>
                <elementReference>VARPlanoRegulamentado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterTipoAgendamento</name>
        <label>Obter Tipo de agendamento</label>
        <locationX>613</locationX>
        <locationY>2389</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Assinatura</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AtaManutencaoRelacionamento</name>
        <label>Ata - Manutenção Relacionamento</label>
        <locationX>631</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoAlteracaoDadosProspeccao</targetReference>
        </connector>
        <fields>
            <name>NomeContatoEmpresa</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do contato na empresa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CargoContatoEmpresa</name>
            <dataType>String</dataType>
            <fieldText>Informe o cargo do contato na empresa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AlteracaoDadosProspeccao</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve alteração nos dados da prospecção?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Brinde</name>
        <label>Brinde</label>
        <locationX>623</locationX>
        <locationY>1431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoSobreBrinde</targetReference>
        </connector>
        <fields>
            <name>BrindeEntregue</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve entrega de brinde?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao6</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;6/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DadosOperadora</name>
        <label>Dados Da Operadora</label>
        <locationX>370</locationX>
        <locationY>913</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DadosOperadora_0</targetReference>
        </connector>
        <fields>
            <name>InformeOperadoraAtual</name>
            <choiceReferences>OperadoraAtual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Informe a operadora atual</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InformeNomeOutraOperadora</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome da outra operadora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AnosAtivos</name>
            <dataType>Number</dataType>
            <fieldText>Há quantos anos o contrato está ativo na outra operadora?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NomesOutrosProdutos</name>
            <dataType>String</dataType>
            <fieldText>Quais os nomes dos outros produtos?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AbrangenciaProduto</name>
            <dataType>String</dataType>
            <fieldText>Informe a abrangência de cada produto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PercentualUltimoReajuste</name>
            <dataType>Number</dataType>
            <fieldText>Informe percentual do último reajuste</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DataBase</name>
            <dataType>Date</dataType>
            <fieldText>Informe data base ou data do último reajuste</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PercentualSinistralidade</name>
            <dataType>Number</dataType>
            <fieldText>Informe o percentual de sinistralidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PlanoRegulamentado</name>
            <dataType>Boolean</dataType>
            <fieldText>Plano regulamentado?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pagincao3</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;3/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DadosOperadora_0</name>
        <label>Dados Da Operadora</label>
        <locationX>624</locationX>
        <locationY>913</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoPlanoRegulamentado</targetReference>
        </connector>
        <fields>
            <name>AlteracaoContigente_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve alteração contigente?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao4</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;4/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmpresaPossuiAssistencia</name>
        <label>A Empresa Já Possui Assistência Médica?</label>
        <locationX>437</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoSobreAssistenciaMedica</targetReference>
        </connector>
        <fields>
            <name>EmpresaPossuiAssistenciaMedica</name>
            <dataType>Boolean</dataType>
            <fieldText>Empresa possui assistência médica?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InformacoesContingente</name>
        <label>Informações Sobre Contingente</label>
        <locationX>419</locationX>
        <locationY>1116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Brinde</targetReference>
        </connector>
        <fields>
            <name>ContigenteMinimo</name>
            <dataType>Number</dataType>
            <fieldText>Informe o contingente mínimo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ContingenteMaximo</name>
            <dataType>Number</dataType>
            <fieldText>Informe contingente máximo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>paginacao</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;5/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InformacoesSobreBrinde</name>
        <label>Informações Sobre Brinde</label>
        <locationX>404</locationX>
        <locationY>1575</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObservacoesSobreVisita</targetReference>
        </connector>
        <fields>
            <name>NomeBrindeEntregue</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do brinde entregue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao7</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;7/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MotivoFaltaAssinatura</name>
        <label>Motivo da falta da assinatura</label>
        <locationX>385</locationX>
        <locationY>2077</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObterTipoAgendamento</targetReference>
        </connector>
        <fields>
            <name>MotivoFaltaAssinaturaProspect</name>
            <dataType>String</dataType>
            <fieldText>Justifique o motivo da falta de assinatura do prospect</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A justificativa deve conter, pelo menos, 10 caracteres.&lt;/p&gt;</errorMessage>
                <formulaExpression>len({!MotivoFaltaAssinaturaProspect}) &gt; 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>paginacao9</name>
            <fieldText>&lt;p&gt;9/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ObservacoesSobreVisita</name>
        <label>Observações sobre a visita</label>
        <locationX>616</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoAssinatura</targetReference>
        </connector>
        <fields>
            <name>ObservacoesVisita</name>
            <dataType>String</dataType>
            <fieldText>Observações gerais sobre a visita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssinaturaRegistrada</name>
            <dataType>Boolean</dataType>
            <fieldText>Assinatura do prospect será registrada?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao8</name>
            <fieldText>&lt;p&gt;8/9&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>504</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>AtaManutencaoRelacionamento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAREmpressaPossuiAssistenciaMedica</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VARPlanoRegulamentado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
