force-app/main/default/flows/AtaProspeccaoPF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>DecisaoPessoaTitular</name>
        <label>Decisão Pessoa Titular</label>
        <locationX>769</locationX>
        <locationY>329</locationY>
        <defaultConnectorLabel>Resultado Padrão</defaultConnectorLabel>
        <rules>
            <name>PessoaETitular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClienteTitularProposta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CendaConcluida</targetReference>
            </connector>
            <label>Pessoa Titular</label>
        </rules>
        <rules>
            <name>PessoaNaoTitular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClienteTitularProposta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PessoaTitular_0</targetReference>
            </connector>
            <label>Pessoa Não Titular</label>
        </rules>
    </decisions>
    <decisions>
        <name>VendaRealizada</name>
        <label>Venda foi realizada?</label>
        <locationX>616</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>InformacoesSobrePlano</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VendaPerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendaFoiConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selecione_motivo_da_perda</targetReference>
            </connector>
            <label>Venda Perdida</label>
        </rules>
        <rules>
            <name>VendaGanha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendaFoiConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InformacoesSobrePlano</targetReference>
            </connector>
            <label>Venda Ganha</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MotivosPerdaVendas</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotivoNaoFechamento__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opcionais</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OpcionaisIncluidos__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Operadoras</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operadora__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata Prospecção PF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Prospecção PF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarAta</name>
        <label>CriarAta</label>
        <locationX>616</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>AtualizarAtaDepencia</targetReference>
        </connector>
        <inputAssignments>
            <field>CNPJCPF__c</field>
            <value>
                <elementReference>InformeCPFTitular_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouveInclusaoAdicionais__c</field>
            <value>
                <elementReference>HouveAdicaoOpcionais</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoNaoFechamento__c</field>
            <value>
                <elementReference>SelecioneMotivoPerdaVenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroVidas__c</field>
            <value>
                <elementReference>InformeNumeroVidasLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesGerais__c</field>
            <value>
                <elementReference>ObservacoesVisita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesVisita__c</field>
            <value>
                <elementReference>ObservacoesVisita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpcionaisIncluidos__c</field>
            <value>
                <elementReference>SelecioneOpcionais</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operadora__c</field>
            <value>
                <elementReference>SelecioneOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PessoaDecisora__c</field>
            <value>
                <elementReference>ClienteTitularProposta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PossuiPlanoAssistencial__c</field>
            <value>
                <elementReference>PossuiPlanoAtualmente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendaConcluida__c</field>
            <value>
                <elementReference>VendaFoiConcluida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterTA</name>
        <label>Obter Tipo de Agendamento</label>
        <locationX>616</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Assinatura</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarAtaDepencia</name>
        <label>Atualizar Ata Depêndencia</label>
        <locationX>616</locationX>
        <locationY>1478</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AtaDependenciaFinalizada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>AtaProspeccaoPF</name>
        <label>Ata Prospecção</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoPessoaTitular</targetReference>
        </connector>
        <fields>
            <name>ClienteTitularProposta</name>
            <dataType>Boolean</dataType>
            <fieldText>Cliente é titular da proposta?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InformeNumeroVidasLead</name>
            <dataType>Number</dataType>
            <fieldText>Informe número de vidas</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/5&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CendaConcluida</name>
        <label>Venda Concluída?</label>
        <locationX>616</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VendaRealizada</targetReference>
        </connector>
        <fields>
            <name>VendaFoiConcluida</name>
            <dataType>Boolean</dataType>
            <fieldText>A venda foi concluída?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao3</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;3/5&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InformacoesSobrePlano</name>
        <label>Informações sobre o plano</label>
        <locationX>615</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObterTA</targetReference>
        </connector>
        <fields>
            <name>PossuiPlanoAtualmente</name>
            <dataType>Boolean</dataType>
            <fieldText>Possui Plano Atualmente?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelecioneOperadora</name>
            <choiceReferences>Operadoras</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione Operadora</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EpecifiqueOperadora</name>
            <dataType>String</dataType>
            <fieldText>Específique a operadora (caso seja outra diferente da listagem)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Caso a operadora atual do cliente, não seja uma das opções do campo anterior, favor inserir o nome neste campo.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HouveAdicaoOpcionais</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve adição de opcionais</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelecioneOpcionais</name>
            <choiceReferences>Opcionais</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione os opcionais</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObservacoesVisita</name>
            <fieldText>Observações da visita</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao5</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;5/5&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PessoaTitular_0</name>
        <label>Pessoa Titular</label>
        <locationX>396</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CendaConcluida</targetReference>
        </connector>
        <fields>
            <name>InformeNomeTitular_0</name>
            <dataType>String</dataType>
            <fieldText>Informe o Nome do titular</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InformeCPFTitular_0</name>
            <dataType>String</dataType>
            <fieldText>Informe o CPF do titular</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;O CPF deve ser inserido no formato:&lt;/p&gt;&lt;p&gt;xxx.xxx.xxx-xx&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Paginacao</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/5&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selecione_motivo_da_perda</name>
        <label>Selecione motivo da perda</label>
        <locationX>396</locationX>
        <locationY>902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InformacoesSobrePlano</targetReference>
        </connector>
        <fields>
            <name>SelecioneMotivoPerdaVenda</name>
            <choiceReferences>MotivosPerdaVendas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione motivo da perda</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao4</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;4/5&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AtaProspeccaoPF</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
