force-app/main/default/flows/AtaProspeccaoEmpresarial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AT_Nao_Plano_Regulamentado</name>
        <label>AT - Não - Plano Regulamentado</label>
        <locationX>1009</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>VARPlanoRegulamentado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECEmpressaPossuiPlanoOdontologico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AT_Sim_Plano_Regulamentado</name>
        <label>AT - Sim - Plano Regulamentado</label>
        <locationX>832</locationX>
        <locationY>1042</locationY>
        <assignmentItems>
            <assignToReference>VARPlanoRegulamentado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECEmpressaPossuiPlanoOdontologico</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECEmpresaPossuiAssistenciaMedica</name>
        <label>Empresa Possui Assistência Médica</label>
        <locationX>620</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>DadosOperadora_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DECEmpresaPossuiAssistenciaMedicaSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaPossuiAssistenciaMedica</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DadosOperadora</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECEmpressaPossuiPlanoOdontologico</name>
        <label>Empressa possui plano odontológico</label>
        <locationX>618</locationX>
        <locationY>1160</locationY>
        <defaultConnector>
            <targetReference>Brinde</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DECEmpressaPossuiPlanoOdontologicoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossuiPlanoOdontologico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InformacoesContingente</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoAssinatura</name>
        <label>Decisão Sobre Assinatura</label>
        <locationX>615</locationX>
        <locationY>2101</locationY>
        <defaultConnector>
            <targetReference>ObterTA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AssinaturaNaoColetada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssinaturaRegistrada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MotivoFaltaAssinatura</targetReference>
            </connector>
            <label>Assinatura Não Coletada</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoEmpresaPertenceAlgumGrupo</name>
        <label>Decisão Empresa Pertence Algum Grupo</label>
        <locationX>616</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>TelaEmpresaPossuiAssistenciaMedica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DECEmpresaPertenceAlgumGrupo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaPertenceAlgumGrupo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaEmpresaPertenceAlgumGrupo</targetReference>
            </connector>
            <label>Empresa Pertence Algum Grupo</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoSobreBrinde</name>
        <label>Decisão Sobre Brinde</label>
        <locationX>616</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>BrindeFoiEntregue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrindeEntregue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InformacoesSobreBrinde</targetReference>
            </connector>
            <label>Brinde Foi Entregue</label>
        </rules>
        <rules>
            <name>BrindeNaoEntregue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrindeEntregue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObservacoesSobreVisita</targetReference>
            </connector>
            <label>Brinde Não Entregue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECPlanoRegulamentado</name>
        <label>Decisão Plano Regulamentado</label>
        <locationX>901</locationX>
        <locationY>829</locationY>
        <defaultConnector>
            <targetReference>AT_Nao_Plano_Regulamentado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DECPlanoRegulamentadoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanoRegulamentado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AT_Sim_Plano_Regulamentado</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LO_TipoCustoAtual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoCustoAtual__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OperadoraAtual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operadora__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata - Prospecção Empresarial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Prospecção Empresarial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarAta</name>
        <label>CriarAta</label>
        <locationX>637</locationX>
        <locationY>2555</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>AtualizarAtaDepedencia</targetReference>
        </connector>
        <inputAssignments>
            <field>AbrangenciaCadaProduto__c</field>
            <value>
                <elementReference>AbrangenciaProduto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnosContratoAtualAtivo__c</field>
            <value>
                <elementReference>AnosAtivos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJGrupo__c</field>
            <value>
                <elementReference>CNPJGrupo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoContatoEmpresa__c</field>
            <value>
                <elementReference>CargoContatoEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CidadeGrupo__c</field>
            <value>
                <elementReference>CidadeGrupo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataBaseUltimoReajuste__c</field>
            <value>
                <elementReference>DataBase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmpresaPertenceAlgumGrupo__c</field>
            <value>
                <elementReference>EmpresaPertenceAlgumGrupo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmpresaPossuiAssistenciaMedica__c</field>
            <value>
                <elementReference>EmpresaPossuiAssistenciaMedica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmpresaPossuiPlanoOdontologico__c</field>
            <value>
                <elementReference>PossuiPlanoOdontologico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouveEntregaBrinde__c</field>
            <value>
                <elementReference>BrindeEntregue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeBrindeEntregue__c</field>
            <value>
                <elementReference>NomeBrindeEntregue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeContatoEmpresa__c</field>
            <value>
                <elementReference>NomeContatoEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomesProdutos__c</field>
            <value>
                <elementReference>NomesOutrosProdutos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroFuncionarios__c</field>
            <value>
                <elementReference>NumeroFuncionarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroVidas__c</field>
            <value>
                <elementReference>NumeroVidas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesGerais__c</field>
            <value>
                <elementReference>ObservacoesVisita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperadoraPlanoOdontologico__c</field>
            <value>
                <elementReference>OperadoraPlanoOdontologico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operadora__c</field>
            <value>
                <elementReference>InformeOperadoraAtual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutraOperadora__c</field>
            <value>
                <elementReference>InformeNomeOutraOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentualSinistralidade__c</field>
            <value>
                <elementReference>PercentualSinistralidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentualUltimoReajuste__c</field>
            <value>
                <elementReference>PercentualUltimoReajuste</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlanoRegulamentado__c</field>
            <value>
                <elementReference>VARPlanoRegulamentado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantidadeModulos__c</field>
            <value>
                <elementReference>QuanitadeModulos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RazaoSocialGrupo__c</field>
            <value>
                <elementReference>RazaoSocialGrupo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoCustoAtual__c</field>
            <value>
                <elementReference>TipoCustoAtual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor__c</field>
            <value>
                <elementReference>Valor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterTA</name>
        <label>Obter Tipo de agendamento</label>
        <locationX>638</locationX>
        <locationY>2370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Assinatura</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarAtaDepedencia</name>
        <label>Atualizar Ata de Depedência</label>
        <locationX>871</locationX>
        <locationY>2718</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AtaDependenciaFinalizada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>AtaProspeccaoEmpresarial</name>
        <label>Ata - Prospecção Empresarial</label>
        <locationX>620</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoEmpresaPertenceAlgumGrupo</targetReference>
        </connector>
        <fields>
            <name>NomeContatoEmpresa</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do contato na empresa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CargoContatoEmpresa</name>
            <dataType>String</dataType>
            <fieldText>Informe o cargo do contato na empresa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmpresaPertenceAlgumGrupo</name>
            <dataType>Boolean</dataType>
            <fieldText>A empresa pertence algum grupo?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Brinde</name>
        <label>Brinde</label>
        <locationX>616</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoSobreBrinde</targetReference>
        </connector>
        <fields>
            <name>NumeroFuncionarios</name>
            <dataType>Number</dataType>
            <fieldText>Número de funcionários</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NumeroVidas</name>
            <dataType>Number</dataType>
            <fieldText>Número de vidas</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BrindeEntregue</name>
            <dataType>Boolean</dataType>
            <fieldText>Houve Entrega de Brinde?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao7</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;7/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DadosOperadora</name>
        <label>Dados Da Operadora</label>
        <locationX>346</locationX>
        <locationY>840</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DadosOperadora_0</targetReference>
        </connector>
        <fields>
            <name>InformeOperadoraAtual</name>
            <choiceReferences>OperadoraAtual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Informe a Operadora Atual</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InformeNomeOutraOperadora</name>
            <dataType>String</dataType>
            <fieldText>Informe o Nome da Outra Operadora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AnosAtivos</name>
            <dataType>Number</dataType>
            <fieldText>Há quantos anos o contrato está ativo na outra operadora?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NomesOutrosProdutos</name>
            <dataType>String</dataType>
            <fieldText>Quais os nomes dos outros produtos?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AbrangenciaProduto</name>
            <dataType>String</dataType>
            <fieldText>Informe a abrangência de cada produto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PercentualUltimoReajuste</name>
            <dataType>Number</dataType>
            <fieldText>Informe percentual do último reajuste</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DataBase</name>
            <dataType>Date</dataType>
            <fieldText>Informe data base ou data do último reajuste</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PercentualSinistralidade</name>
            <dataType>Number</dataType>
            <fieldText>Informe o percentual de sinistralidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PlanoRegulamentado</name>
            <dataType>Boolean</dataType>
            <fieldText>Plano regulamentado?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao4</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;4/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DadosOperadora_0</name>
        <label>Dados Da Operadora</label>
        <locationX>628</locationX>
        <locationY>999</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECPlanoRegulamentado</targetReference>
        </connector>
        <fields>
            <name>TipoCustoAtual</name>
            <choiceReferences>LO_TipoCustoAtual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o tipo de custo atual</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PossuiPlanoOdontologico</name>
            <dataType>Boolean</dataType>
            <fieldText>A empresa possui plano odontológico?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao5</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;5/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InformacoesContingente</name>
        <label>Informações Sobre Contingente</label>
        <locationX>266</locationX>
        <locationY>1267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Brinde</targetReference>
        </connector>
        <fields>
            <name>OperadoraPlanoOdontologico</name>
            <dataType>String</dataType>
            <fieldText>Informe a operadora do plano odontológico</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>QuanitadeModulos</name>
            <dataType>Number</dataType>
            <fieldText>Informe a quantidade de módulos</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Valor</name>
            <dataType>Number</dataType>
            <fieldText>Informe o valor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>paginacao6</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;6/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InformacoesSobreBrinde</name>
        <label>Informações Sobre Brinde</label>
        <locationX>396</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObservacoesSobreVisita</targetReference>
        </connector>
        <fields>
            <name>NomeBrindeEntregue</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do brinde entregue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao8</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;8/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MotivoFaltaAssinatura</name>
        <label>Motivo da falta da assinatura</label>
        <locationX>381</locationX>
        <locationY>2368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObterTA</targetReference>
        </connector>
        <fields>
            <name>MotivoFaltaAssinaturaProspect</name>
            <dataType>String</dataType>
            <fieldText>Justifique o motivo da falta de assinatura do Prospect</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao10</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;10/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ObservacoesSobreVisita</name>
        <label>Observações sobre a visita</label>
        <locationX>616</locationX>
        <locationY>1911</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoAssinatura</targetReference>
        </connector>
        <fields>
            <name>ObservacoesVisita</name>
            <dataType>String</dataType>
            <fieldText>Observações gerais sobre a visita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssinaturaRegistrada</name>
            <dataType>Boolean</dataType>
            <fieldText>Assinatura do prospect será registrada?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao9</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;9/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaEmpresaPertenceAlgumGrupo</name>
        <label>Empresa Pertence Algum Grupo?</label>
        <locationX>400</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TelaEmpresaPossuiAssistenciaMedica</targetReference>
        </connector>
        <fields>
            <name>RazaoSocialGrupo</name>
            <dataType>String</dataType>
            <fieldText>Informe a razão social do grupo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CidadeGrupo</name>
            <dataType>String</dataType>
            <fieldText>Informe a cidade do grupo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CNPJGrupo</name>
            <dataType>String</dataType>
            <fieldText>Informe o CNPJ do grupo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>paginacao2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaEmpresaPossuiAssistenciaMedica</name>
        <label>Empresa Possui Assistência Médica</label>
        <locationX>626</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DECEmpresaPossuiAssistenciaMedica</targetReference>
        </connector>
        <fields>
            <name>EmpresaPossuiAssistenciaMedica</name>
            <dataType>Boolean</dataType>
            <fieldText>A empresa possui assistência médica?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao3</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;3/10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AtaProspeccaoEmpresarial</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VARPlanoRegulamentado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
