force-app/main/default/flows/AtaPropostaNegociacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>DecisaoOutraOperadora</name>
        <label>Decisão Sobre outra operadora</label>
        <locationX>50</locationX>
        <locationY>1532</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OperadoraConhecida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QualOperadora</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Outra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PlanoOdontologico</targetReference>
            </connector>
            <label>Operadora Conhecida</label>
        </rules>
        <rules>
            <name>Operadora_Desconhecida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QualOperadora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informe_Nome_Operadora</targetReference>
            </connector>
            <label>Operadora Desconhecida</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoPlanoOdontologico</name>
        <label>Decisão Sobre Plano Odontológico</label>
        <locationX>666</locationX>
        <locationY>1648</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PossuiPlano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossuiOdontologico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfosPlanoOdontologico</targetReference>
            </connector>
            <label>Possui Plano</label>
        </rules>
        <rules>
            <name>NaoPossuiOdontologico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossuiOdontologico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfosSobreVenda</targetReference>
            </connector>
            <label>Não Possui Odontológico</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoSobreVendaDecisora</name>
        <label>Decisão sobre venda com decisora</label>
        <locationX>402</locationX>
        <locationY>2348</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PendenteAvaliacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InformeMotivoPerdaVenda</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avaliar com decisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DataRetorno</targetReference>
            </connector>
            <label>Pendente Avaliação</label>
        </rules>
        <rules>
            <name>OutroMotivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InformeMotivoPerdaVenda</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Avaliar com decisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObservacoesGerais</targetReference>
            </connector>
            <label>Outro Motivo</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoSobreVendaFechada</name>
        <label>Decisao sobre venda fechada</label>
        <locationX>660</locationX>
        <locationY>2036</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PFFechada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientePFPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendaConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfosVendaPJ</targetReference>
            </connector>
            <label>PFFechada</label>
        </rules>
        <rules>
            <name>PFPerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientePFPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendaConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MotivoPerdaVenda</targetReference>
            </connector>
            <label>PFPerdida</label>
        </rules>
        <rules>
            <name>PJFechada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientePFPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendaConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfosVendaPJ</targetReference>
            </connector>
            <label>PJFechada</label>
        </rules>
        <rules>
            <name>PJPerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientePFPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendaConcluida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MotivoPerdaVenda</targetReference>
            </connector>
            <label>PJPerdida</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoTipoCliente</name>
        <label>Decisão Sobre Tipo de Cliente</label>
        <locationX>709</locationX>
        <locationY>740</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Cliente_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientePFPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientePF</targetReference>
            </connector>
            <label>Cliente PF</label>
        </rules>
        <rules>
            <name>Cliente_PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientePFPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientePJ</targetReference>
            </connector>
            <label>Cliente PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecTipoCliente</name>
        <label>Tipo de Cliente</label>
        <locationX>643</locationX>
        <locationY>2821</locationY>
        <defaultConnector>
            <targetReference>CriarAtaPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DecTipoClientePF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientePFPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarAtaPF</targetReference>
            </connector>
            <label>PF</label>
        </rules>
    </decisions>
    <decisions>
        <name>DescisorCompra</name>
        <label>DecisorCompra</label>
        <locationX>711</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PessoaDecisoraSIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PessoaDecisora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TipoCliente</targetReference>
            </connector>
            <label>Pessoa Decisora?</label>
        </rules>
        <rules>
            <name>PessoaDecisoraNao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PessoaDecisora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NomePessoaDecisora</targetReference>
            </connector>
            <label>Outra Decisora</label>
        </rules>
    </decisions>
    <decisions>
        <name>PossuiOutroPlano</name>
        <label>Possui Outro Plano?</label>
        <locationX>699</locationX>
        <locationY>988</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PossuiAssistencial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossuiPlanoAssistencial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfosSobreOutroPlano</targetReference>
            </connector>
            <label>PossuiAssistencial</label>
        </rules>
        <rules>
            <name>PossuiEmpresarial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossuiPlanoEmpresarial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfosSobreOutroPlano</targetReference>
            </connector>
            <label>Possui Empresarial</label>
        </rules>
        <rules>
            <name>NaoPossuiAssistencial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossuiPlanoAssistencial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PlanoOdontologico</targetReference>
            </connector>
            <label>Não Possui Assistencial</label>
        </rules>
        <rules>
            <name>NaoPossuiEmpresarial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossuiPlanoEmpresarial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PlanoOdontologico</targetReference>
            </connector>
            <label>Não Possui Empresarial</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MotivoDaPerdaVenda</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motivo__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NomeOperadora</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operadora__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NomeOperadoraOdonto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OperadoraPlanoOdontologico__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoDeCliente</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoCliente__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoDeVenda</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoVenda__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ata - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ata - Apresentação de Proposta e Negociação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarAtaPF</name>
        <label>Criar Ata PF</label>
        <locationX>421</locationX>
        <locationY>2980</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>ContingentePotencial__c</field>
            <value>
                <elementReference>ContingentePotencial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataBaseOutraOperadora__c</field>
            <value>
                <elementReference>DataBaseOutraOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataRetorno__c</field>
            <value>
                <elementReference>InformeDataRetorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo__c</field>
            <value>
                <elementReference>InformeMotivoPerdaVenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeContato__c</field>
            <value>
                <elementReference>informeNomeContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeDecisor__c</field>
            <value>
                <elementReference>NomeDecisor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesGerais__c</field>
            <value>
                <elementReference>ObservacoesGeraisVenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperadoraPlanoOdontologico__c</field>
            <value>
                <elementReference>QualOperadoraOdontologica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operadora__c</field>
            <value>
                <elementReference>QualOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutraOperadoraOdontologica__c</field>
            <value>
                <elementReference>NomeOutraOperadoraOdontologica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PessoaDecisora__c</field>
            <value>
                <elementReference>PessoaDecisora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PossuiPlanoAssistencial__c</field>
            <value>
                <elementReference>PossuiPlanoAssistencial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PossuiPlanoOdontologico__c</field>
            <value>
                <elementReference>PossuiOdontologico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoCliente__c</field>
            <value>
                <elementReference>ClientePFPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorMedioOutraOperadora__c</field>
            <value>
                <elementReference>ValorMedioOutraOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendaConcluida__c</field>
            <value>
                <elementReference>VendaConcluida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VidasOutraOperadora__c</field>
            <value>
                <elementReference>VidasOutraOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>CriarAtaPJ</name>
        <label>Criar Ata PJ</label>
        <locationX>860</locationX>
        <locationY>2988</locationY>
        <assignRecordIdToReference>WorkOrderLineItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>ContingentePotencial__c</field>
            <value>
                <elementReference>ContingentePotencial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataBaseOutraOperadora__c</field>
            <value>
                <elementReference>DataBaseOutraOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataRetorno__c</field>
            <value>
                <elementReference>InformeDataRetorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo__c</field>
            <value>
                <elementReference>InformeMotivoPerdaVenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeContato__c</field>
            <value>
                <elementReference>informeNomeContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeDecisor__c</field>
            <value>
                <elementReference>NomeDecisor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroVidas__c</field>
            <value>
                <elementReference>NumeroVidas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesGerais__c</field>
            <value>
                <elementReference>ObservacoesGeraisVenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperadoraPlanoOdontologico__c</field>
            <value>
                <elementReference>QualOperadoraOdontologica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operadora__c</field>
            <value>
                <elementReference>QualOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PessoaDecisora__c</field>
            <value>
                <elementReference>PessoaDecisora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PossuiPlanoEmpresarial__c</field>
            <value>
                <elementReference>PossuiPlanoEmpresarial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PossuiPlanoOdontologico__c</field>
            <value>
                <elementReference>PossuiOdontologico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoCliente__c</field>
            <value>
                <elementReference>ClientePFPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoVenda__c</field>
            <value>
                <elementReference>TipoVenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorMedioOutraOperadora__c</field>
            <value>
                <elementReference>ValorMedioOutraOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendaConcluida__c</field>
            <value>
                <elementReference>VendaConcluida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VidasOutraOperadora__c</field>
            <value>
                <elementReference>VidasOutraOperadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterTipoAgendamento</name>
        <label>Obter Tipo de agendamento</label>
        <locationX>881</locationX>
        <locationY>2739</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecTipoCliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ata Assinatura</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AtaApresentacaoProposta</name>
        <label>Ata - Apresentação Proposta 1/12</label>
        <locationX>719</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DescisorCompra</targetReference>
        </connector>
        <fields>
            <name>informeNomeContato</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome do contato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PessoaDecisora</name>
            <dataType>Boolean</dataType>
            <fieldText>Pessoa é a decisora da compra?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;1/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClientePF</name>
        <label>Cliente PF 3/12</label>
        <locationX>444</locationX>
        <locationY>815</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PossuiOutroPlano</targetReference>
        </connector>
        <fields>
            <name>PossuiPlanoAssistencial</name>
            <dataType>Boolean</dataType>
            <fieldText>Possui Plano Assistencial?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao3a</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;3/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClientePJ</name>
        <label>Cliente PJ 3/12</label>
        <locationX>984</locationX>
        <locationY>822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PossuiOutroPlano</targetReference>
        </connector>
        <fields>
            <name>ContingentePotencial</name>
            <dataType>Number</dataType>
            <fieldText>Contingente Potencial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PossuiPlanoEmpresarial</name>
            <dataType>Boolean</dataType>
            <fieldText>Possui Plano Empresarial?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao3b</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;3/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DataRetorno</name>
        <label>Data de Retorno 11/12</label>
        <locationX>405</locationX>
        <locationY>2560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObservacoesGerais</targetReference>
        </connector>
        <fields>
            <name>InformeDataRetorno</name>
            <dataType>DateTime</dataType>
            <fieldText>Informe a data de retorno</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao11</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;11/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informe_Nome_Operadora</name>
        <label>Informe Nome Operadora 5/12</label>
        <locationX>97</locationX>
        <locationY>1687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PlanoOdontologico</targetReference>
        </connector>
        <fields>
            <name>InformeNomeOutraOperadora</name>
            <dataType>String</dataType>
            <fieldText>Informe o nome da outra operadora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>paginacao5</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;5/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InfosPlanoOdontologico</name>
        <label>Informações sobre Plano Odontológico 7/12</label>
        <locationX>418</locationX>
        <locationY>1705</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InfosSobreVenda</targetReference>
        </connector>
        <fields>
            <name>QualOperadoraOdontologica</name>
            <choiceReferences>NomeOperadoraOdonto</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qual a operadora odontológica</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NomeOutraOperadoraOdontologica</name>
            <dataType>String</dataType>
            <fieldText>Qual o nome da outra operadora odontológica?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Caso o nome da operadora não apareça acima, preencha neste campo o nome.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>paginacao7</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;7/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InfosSobreOutroPlano</name>
        <label>Informações sobre outro plano 4/12</label>
        <locationX>181</locationX>
        <locationY>1309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoOutraOperadora</targetReference>
        </connector>
        <fields>
            <name>QualOperadora</name>
            <choiceReferences>NomeOperadora</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qual a operadora?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DataBaseOutraOperadora</name>
            <dataType>Date</dataType>
            <fieldText>Qual a data base na outra operadora?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ValorMedioOutraOperadora</name>
            <dataType>Number</dataType>
            <fieldText>Qual o valor médio na outra operadora?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>VidasOutraOperadora</name>
            <dataType>Number</dataType>
            <fieldText>Quantas vidas na outra operadora?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>paginacao4</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;4/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;Caso o nome da operadora não apareça acima, preencha o nome neste campo.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InfosSobreVenda</name>
        <label>Informações sobre a venda 8/12</label>
        <locationX>670</locationX>
        <locationY>1857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoSobreVendaFechada</targetReference>
        </connector>
        <fields>
            <name>VendaConcluida</name>
            <dataType>Boolean</dataType>
            <fieldText>A venda foi concluída?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao8</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;8/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InfosVendaPJ</name>
        <label>Informações sobre a venda PJ 10/12</label>
        <locationX>827</locationX>
        <locationY>2260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObservacoesGerais</targetReference>
        </connector>
        <fields>
            <name>NumeroVidas</name>
            <dataType>Number</dataType>
            <fieldText>Qual o número de vidas?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>TipoVenda</name>
            <choiceReferences>TipoDeVenda</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qual o tipo de venda?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao10</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;10/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MotivoPerdaVenda</name>
        <label>Motivo perda da venda 9/12</label>
        <locationX>409</locationX>
        <locationY>2164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoSobreVendaDecisora</targetReference>
        </connector>
        <fields>
            <name>InformeMotivoPerdaVenda</name>
            <choiceReferences>MotivoDaPerdaVenda</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Informe o motivo da perda da venda</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao9</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;9/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NomePessoaDecisora</name>
        <label>Informe os dados da pessoa decisora 2/12</label>
        <locationX>468</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoCliente</targetReference>
        </connector>
        <fields>
            <name>NomeDecisor</name>
            <dataType>String</dataType>
            <fieldText>Qual o nome do decisor?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ObservacoesGerais</name>
        <label>Observações Gerais 12/12</label>
        <locationX>645</locationX>
        <locationY>2669</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObterTipoAgendamento</targetReference>
        </connector>
        <fields>
            <name>ObservacoesGeraisVenda</name>
            <dataType>String</dataType>
            <fieldText>Observações gerais sobre a venda</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>paginacao12</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;12/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PlanoOdontologico</name>
        <label>Plano Odontológico 6/12</label>
        <locationX>675</locationX>
        <locationY>1477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoPlanoOdontologico</targetReference>
        </connector>
        <fields>
            <name>PossuiOdontologico</name>
            <dataType>Boolean</dataType>
            <fieldText>Possui Plano Odontológico?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;6/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TipoCliente</name>
        <label>Tipo de Cliente 2/12</label>
        <locationX>717</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoTipoCliente</targetReference>
        </connector>
        <fields>
            <name>ClientePFPJ</name>
            <choiceReferences>TipoDeCliente</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cliente PF ou PJ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paginacao2a</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;2/12&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>416</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AtaApresentacaoProposta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
