force-app/main/default/flows/AtualizaPrimeiraVisita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Confere_Visitas</name>
        <label>Confere Visitas</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Primeira Visita Correta</defaultConnectorLabel>
        <rules>
            <name>Primeira_Visita_Desatualizada</name>
            <conditionLogic>( 1 OR 2 OR 3 ) AND NOT (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__r.DataPrimeiraVisita__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.DataPrimeiraVisita__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.SchedStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.ConsultorPrimeiraVisita__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Primeira_Visita</targetReference>
            </connector>
            <label>Primeira Visita Maior ou Nula</label>
        </rules>
    </decisions>
    <interviewLabel>Registra Primeira Visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Primeira Visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_Primeira_Visita</name>
        <label>Atualiza Primeira Visita</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConsultorPrimeiraVisita__c</field>
            <value>
                <elementReference>$Record.ServiceResource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataPrimeiraVisita__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confere_Visitas</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
