force-app/main/default/flows/AtualizaMembrosGrupoDistribuicao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Valida se usuário existe no grupo de atribuição</description>
        <name>Valida</name>
        <label>ASSIGN Usuario existe</label>
        <locationX>704</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>UsuarioExistente</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verificar_Membro_Visita</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ExisteMembro</name>
        <label>Existe Membro no Grupo?</label>
        <locationX>724</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>CreateMembroAtribuicaoVisita_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETMembroGrupoAtribuicao</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verificar_Membro_Visita</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserExists</name>
        <label>Usuario Existe no Grupo de Atribuicao?</label>
        <locationX>836</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>CreateMembroAtribuicaoVisita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verificar_Membro_Visita.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Atualiza Membro do Grupo de Distribuição quando um usuário é criado ou atualizado</description>
    <interviewLabel>Atualiza Membro do Grupo de Distribuição {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Membro do Grupo de Distribuição</label>
    <loops>
        <name>ListGrupoDistribuicao</name>
        <label>List Grupo Distribuição</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>GETGrupoAtribuicao</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GETMembroGrupoAtribuicao</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Verificar_Membro_Visita</name>
        <label>Verificar Membro Visita</label>
        <locationX>616</locationX>
        <locationY>815</locationY>
        <collectionReference>GETMembroGrupoAtribuicao</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UserExists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ListGrupoDistribuicao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateMembroAtribuicaoVisita</name>
        <label>Create Membro Atribuição Visita</label>
        <locationX>968</locationX>
        <locationY>1055</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ListGrupoDistribuicao</targetReference>
        </connector>
        <inputAssignments>
            <field>GrupoAtribuicao__c</field>
            <value>
                <elementReference>ListGrupoDistribuicao.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MembroGrupoAtribuicao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateMembroAtribuicaoVisita_0</name>
        <label>Create Membro Atribuição Visita</label>
        <locationX>832</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>ListGrupoDistribuicao</targetReference>
        </connector>
        <inputAssignments>
            <field>GrupoAtribuicao__c</field>
            <value>
                <elementReference>ListGrupoDistribuicao.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MembroGrupoAtribuicao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GETGrupoAtribuicao</name>
        <label>GET Grupo Atribuicao</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListGrupoDistribuicao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Objeto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Canais__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.CANAL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GrupoAtribuicao__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETMembroGrupoAtribuicao</name>
        <label>GET Membro Grupo Atribuicao</label>
        <locationX>724</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteMembro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GrupoAtribuicao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListGrupoDistribuicao.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MembroGrupoAtribuicao__c</object>
        <sortField>User__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GETGrupoAtribuicao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CANAL__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Se o usuário já existir no grupo de atribuição retorna true</description>
        <name>UsuarioExistente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
