force-app/main/default/flows/DistribuicaoLeads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnviarNotificacao</name>
        <label>Enviar Notificação</label>
        <locationX>182</locationX>
        <locationY>4031</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MensagemCorpoNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GETNotificacao.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>DestinatarioNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>O seguinte lead foi atribuído a você.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnviarNotificacao_0_0</name>
        <label>Enviar Notificação</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MensagemCorpoNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GETNotificacao_0_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>DestinatarioNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>O seguinte lead foi atribuído a você.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnvioEmailNovoProprietario</name>
        <label>Envio de E-mail Para o Novo Proprietário</label>
        <locationX>182</locationX>
        <locationY>3791</locationY>
        <actionName>Lead.EmailAlteraPropriedadeLead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GETNotificacao</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnvioEmailNovoProprietario_0_0</name>
        <label>Envio de E-mail Para o Novo Proprietário</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <actionName>Lead.EmailAlteraPropriedadeLead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GETNotificacao_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ADDItensModificados</name>
        <label>ADD Itens Modificados</label>
        <locationX>138</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>VarFormaDistribuicaoQtdeAtual</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopResetarFormaDistribuicao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopResetarFormaDistribuicao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atualiza a ultima data de atribuição</description>
        <name>ASSIGNMembroGrupo</name>
        <label>ASSIGN Membro do Grupo</label>
        <locationX>182</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>GETMembroGrupoAtribuicao.UltimaDataAtribuicao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GETMembroGrupoAtribuicao.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DestinatarioNotificacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMembroGrupoAtribuicao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atualiza a ultima data de atribuição</description>
        <name>ASSIGNMembroGrupo_0_0</name>
        <label>ASSIGN Membro do Grupo</label>
        <locationX>446</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>MembroGrupo.UltimaDataAtribuicao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembroGrupo.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DestinatarioNotificacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMembroGrupoAtribuicao_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGNQuantidadeAtual</name>
        <label>SET Quantidade Atual</label>
        <locationX>138</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>LoopResetarFormaDistribuicao.QuantidadeAtual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADDItensModificados</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifica se existe um registro nas condições do elemento de busca</description>
        <name>ExisteMembro</name>
        <label>Existe Membro de Distribuição</label>
        <locationX>292</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>UpdateFormaDistribuicao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MembroGrupo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopGrupoDistribuicao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <description>Quando a origem do lead é distribuida apenas em um grupo com lojas próprias a distribuição ocorre conforme a parametrização do objeto FormaDistribuicao__c</description>
        <name>GrupoLojaPropria</name>
        <label>O Grupo é Loja Propria?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>UpdateOwnerLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETGrupoAtribuicao.CanalAtribuicao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lojas Próprias</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETMembroGrupoAtribuicao.Loja__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GETFormaDistribuicao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identifica se o lead veio da integração do HubSpot para evitar o envio de e-mail, considerando que o HubSpot irá criar a tarefa automaticamente.</description>
        <name>HubSpot</name>
        <label>O Lead veio do HubSpot?</label>
        <locationX>446</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>EnvioEmailNovoProprietario_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HubSpot</stringValue>
                </rightValue>
            </conditions>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica se a quantidade de distribuição atingiu o limite. 
Caso não, o canal é eleito para que um membro seja contemplado com o lead. 
Caso sim, vai para o próximo canal</description>
        <name>QuantidadeAtual</name>
        <label>A Quantidade Atual é Permitida?</label>
        <locationX>831</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>LoopGrupoDistribuicao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopGrupoDistribuicao.QuantidadeAtual__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LoopGrupoDistribuicao.QuantidadePermitida__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GETMembroGrupoAtribuicao_LoopT</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Realiza a distribuição de leads para membros de grupo. 
09/06/22 - Adição do rodizio em lojas próprias
07/07/22 - Adição do rodizio origem Odonto Exclusivo</description>
    <formulas>
        <name>VarQtdeDistribuicao_1</name>
        <dataType>Number</dataType>
        <expression>{!LoopGrupoDistribuicao.QuantidadeAtual__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Distribuição de Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Distribuição de Leads</label>
    <loops>
        <name>LoopGrupoDistribuicao</name>
        <label>LoopGrupoDistribuicao</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>GETFormaDistribuicao</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QuantidadeAtual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopResetarFormaDistribuicao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Zera a quantidade atual para iniciar uma nova rodada de distribuição</description>
        <name>LoopResetarFormaDistribuicao</name>
        <label>Loop Resetar Forma de Distribuicao</label>
        <locationX>50</locationX>
        <locationY>2759</locationY>
        <collectionReference>GETFormaDistribuicao</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGNQuantidadeAtual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateFormaDistribuicaoQuantidadeAtual</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Busca as formas de distribuição</description>
        <name>GETFormaDistribuicao</name>
        <label>GET Forma de Distribuicao</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopGrupoDistribuicao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Objeto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Processo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distribuição de Propriedade</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FormaDistribuicao__c</object>
        <sortField>QuantidadePermitida__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca grupo de atribuições</description>
        <name>GETGrupoAtribuicao</name>
        <label>GET Grupo Atribuição</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GETMembroGrupoAtribuicao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objeto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GrupoAtribuicao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETMembroGrupoAtribuicao</name>
        <label>GET Membro do Grupo de Atribuição</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GrupoLojaPropria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GrupoAtribuicao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETGrupoAtribuicao.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MembroGrupoAtribuicao__c</object>
        <sortField>UltimaDataAtribuicao__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Para que o processo funcione corretamente a loja cadastrada no objeto usuário deve conter o mesmo nome no objeto FormaDistribuicao__c</description>
        <name>GETMembroGrupoAtribuicao_LoopT</name>
        <label>GET Membro do Grupo de Atribuição</label>
        <locationX>292</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteMembro</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LoopGrupoDistribuicao</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GrupoAtribuicao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETGrupoAtribuicao.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loja__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopGrupoDistribuicao.Name</elementReference>
            </value>
        </filters>
        <object>MembroGrupoAtribuicao__c</object>
        <outputReference>MembroGrupo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>UltimaDataAtribuicao__c</queriedFields>
        <sortField>UltimaDataAtribuicao__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GETNotificacao</name>
        <label>GET Notificação</label>
        <locationX>182</locationX>
        <locationY>3911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnviarNotificacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AtribuicaoLead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETNotificacao_0_0</name>
        <label>GET Notificação</label>
        <locationX>578</locationX>
        <locationY>2015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnviarNotificacao_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AtribuicaoLead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Atualiza a quantidade atual</description>
        <name>UpdateFormaDistribuicao</name>
        <label>Update Forma de Distribuição</label>
        <locationX>446</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>UpdateOwnerLead_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopGrupoDistribuicao.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantidadeAtual__c</field>
            <value>
                <elementReference>VarQtdeDistribuicao_1</elementReference>
            </value>
        </inputAssignments>
        <object>FormaDistribuicao__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFormaDistribuicaoQuantidadeAtual</name>
        <label>Update FormaDistribuicao Quantidade Atual</label>
        <locationX>50</locationX>
        <locationY>3215</locationY>
        <connector>
            <targetReference>UpdateOwnerLead</targetReference>
        </connector>
        <inputReference>VarFormaDistribuicaoQtdeAtual</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMembroGrupoAtribuicao</name>
        <label>Update Membro Grupo de Atribuição</label>
        <locationX>182</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>EnvioEmailNovoProprietario</targetReference>
        </connector>
        <inputReference>GETMembroGrupoAtribuicao</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMembroGrupoAtribuicao_0_0</name>
        <label>Update Membro Grupo de Atribuição</label>
        <locationX>446</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>HubSpot</targetReference>
        </connector>
        <inputReference>MembroGrupo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o owner do lead</description>
        <name>UpdateOwnerLead</name>
        <label>Update Owner do Lead</label>
        <locationX>182</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>ASSIGNMembroGrupo</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GETMembroGrupoAtribuicao.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o owner do lead</description>
        <name>UpdateOwnerLead_0_0</name>
        <label>Update Owner do Lead</label>
        <locationX>446</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>ASSIGNMembroGrupo_0_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LoopGrupoDistribuicao</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>MembroGrupo.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GETGrupoAtribuicao</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chatbot Blip</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PAGINA DE PLANOS</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BEM DIGITAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Odonto Exclusivo</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HubSpot</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Mensagem que é utilizada no corpo de uma notificação</description>
        <name>MensagemCorpoNotificacao</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nome do lead: {!$Record.FirstName} {!$Record.LastName}
Origem do lead: {!$Record.LeadSource}</text>
    </textTemplates>
    <variables>
        <name>DestinatarioNotificacao</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsFrozen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembroGrupo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MembroGrupoAtribuicao__c</objectType>
    </variables>
    <variables>
        <name>VarFormaDistribuicaoQtdeAtual</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FormaDistribuicao__c</objectType>
    </variables>
</Flow>
