force-app/main/default/flows/DistribuiFilasChatbot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Inverte_Flag</name>
        <label>Inverte Flag</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ObtemRegistroFlag.Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InversoFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizaFlagInversa</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ConfereStatusFlagChatbot</name>
        <label>Confere Status Flag Chatbot</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>AtualizaFilaGVEN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GVEN (False)</defaultConnectorLabel>
        <rules>
            <name>LOJAS_PROPRIAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtemRegistroFlag.Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaFilaLojasProprias</targetReference>
            </connector>
            <label>LOJAS PRÓPRIAS (True)</label>
        </rules>
    </decisions>
    <formulas>
        <name>InversoFlag</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!ObtemRegistroFlag.Flag__c})</expression>
    </formulas>
    <interviewLabel>Distribui Filas Chatbot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DistribuiChatbot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtem_Fila_GVEN</name>
        <label>Obtem Fila GVEN</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtem_Fila_Lojas_Proprias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChatbotGVEN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_Fila_Lojas_Proprias</name>
        <label>Obtem Fila Lojas Proprias</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfereStatusFlagChatbot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChatbotLojasProprias</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtemRegistroFlag</name>
        <label>Obtem Registro de Flag</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtem_Fila_GVEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1J5w00000OCTUkEAP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DevVarGlobal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaFilaGVEN</name>
        <label>AtualizaFilaGVEN</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Inverte_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtem_Fila_GVEN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaFilaLojasProprias</name>
        <label>AtualizaFilaLojasProprias</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Inverte_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtem_Fila_Lojas_Proprias.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaFlagInversa</name>
        <label>AtualizaFlagInversa</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <inputReference>ObtemRegistroFlag</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtemRegistroFlag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CanalEntrada__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Chatbot</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
