force-app/main/default/flows/EnvioEmailNotificacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AlertaEnvioEmail</name>
        <label>Alerta de Envio de Email</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>GETNotificacoes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>ALERTA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ModeloEnvioEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GETUser.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AlertaEnvioNotificacoes</name>
        <label>Alerta de Envio de Notificações</label>
        <locationX>176</locationX>
        <locationY>756</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ModeloEnvioNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GETNotificacoes.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>VariavelIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ALERTA</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>VarIds</name>
        <label>VarIds</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>VariavelIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AlertaEnvioNotificacoes</targetReference>
        </connector>
    </assignments>
    <description>Fluxo que envia email e notificação de alerta
Condição: faltar 15 dias para o aniversário da corretora</description>
    <interviewLabel>Envio de Email e Notificação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envio de Email e Notificação Corretora</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GETNotificacoes</name>
        <label>GET Notificações</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VarIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AlertaAniversarioCorretora</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETUser</name>
        <label>GET User</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AlertaEnvioEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GETUser</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>DiasFaltantesAniversario__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </filters>
        <object>Corretora__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-19</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ModeloEnvioEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Alerta: aniversário da corretora {!$Record.Name} dia {!$Record.DiaAniversarioCorretora__c} / {!$Record.MesAniversarioCorretora__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ModeloEnvioNotificacao</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Alerta: aniversário da corretora {!$Record.Name} dia {!$Record.DiaAniversarioCorretora__c} / {!$Record.MesAniversarioCorretora__c}</text>
    </textTemplates>
    <variables>
        <name>VariavelIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
