force-app/main/default/flows/FinalizarVisita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>IdResponsavelChatter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058A000005LdfJQAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>MensagemAtasPendentes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Há ata(s) pendente(s) de finalização para esse agendamento!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>VerificacaoAtasPendentes</name>
        <label>Verificação Atas Pendentes</label>
        <locationX>1547</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>VerificacaoItemLinhaOrdemTrabalho</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Pendentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarItemLinhaOrdemTrabalho.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaAtaPendentes</targetReference>
            </connector>
            <label>Pendentes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaExistenciaAta</name>
        <label>Verifica a existência de Ata</label>
        <locationX>1242</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>TelaAtaPreenchida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VerificaExistenciaAtaSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ItemLinhaOrdemTrabalho</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificacaoItemLinhaOrdemTrabalho</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarStatusCompromissoServico</name>
        <label>Verificar Status do Compromisso de Serviço</label>
        <locationX>517</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>VisitaConcluida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Agendado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompromissoServico.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IniciarVisita</targetReference>
            </connector>
            <label>Agendado</label>
        </rules>
        <rules>
            <name>EmAndamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompromissoServico.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterItensLinhaOrdemTrabalho</targetReference>
            </connector>
            <label>Em andamento</label>
        </rules>
    </decisions>
    <interviewLabel>Finalizar Visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finalizar Visita</label>
    <loops>
        <name>VerificacaoItemLinhaOrdemTrabalho</name>
        <label>Verificação Item de Linha da Ordem de Trabalho</label>
        <locationX>1367</locationX>
        <locationY>664</locationY>
        <assignNextValueToReference>VarItemLinhaOrdemTrabalho</assignNextValueToReference>
        <collectionReference>ItemLinhaOrdemTrabalho</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerificacaoAtasPendentes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalizarVisita</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>RegistrarFeed</name>
        <label>Registrar Feed</label>
        <locationX>1103</locationX>
        <locationY>888</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>MensagemAtasPendentes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>IdResponsavelChatter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CompromissoServico.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterCompromissoServico</name>
        <label>Obter Compromisso de Serviço</label>
        <locationX>525</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarStatusCompromissoServico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>CompromissoServico</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterItensLinhaOrdemTrabalho</name>
        <label>Obter Itens de Linha da Ordem de Trabalho</label>
        <locationX>1000</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaExistenciaAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CompromissoServico.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>ItemLinhaOrdemTrabalho</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarConcluido</name>
        <label>Atualizar Concluído</label>
        <locationX>893</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>AtualizarWorkOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ForaExpediente</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarWorkOrder</name>
        <label>Atualizar WorkOrder</label>
        <locationX>1012</locationX>
        <locationY>720</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CompromissoServico.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EmailsInteressados__c</field>
            <value>
                <elementReference>EmailsInteressados</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>FinalizarVisita</name>
        <label>Finalizar Visita</label>
        <locationX>1058</locationX>
        <locationY>513</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TelaEmailsInteressados</targetReference>
        </connector>
        <fields>
            <name>TextoFinalizacao</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Clique em &quot;Avançar&quot; para &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;concluir &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;de sua visita.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ForaExpediente</name>
        <label>Fora do Expediente</label>
        <locationX>812</locationX>
        <locationY>863</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoForaExpediente</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;O agendamento não pode ser concluído fora do horário de expediente!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IniciarVisita</name>
        <label>Iniciar Visita</label>
        <locationX>255</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoIniciarVisita</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;A Visita ainda não foi iniciada!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaAtaPendentes</name>
        <label>Tela Ata Pendentes</label>
        <locationX>1712</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEAtasPendentes</name>
            <fieldText>&lt;p&gt;Conclua as Atas pendentes para finalizar a visita!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaAtaPreenchida</name>
        <label>Tela Ata Preenchida</label>
        <locationX>1688</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ata</targetReference>
        </connector>
        <fields>
            <name>TEAtaPreenchida</name>
            <fieldText>&lt;p&gt;Não é possível finalizar a Visita sem nenhuma Ata preenchida.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaEmailsInteressados</name>
        <label>Tela Emails Interessados</label>
        <locationX>897</locationX>
        <locationY>514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtualizarConcluido</targetReference>
        </connector>
        <fields>
            <name>EmailsInteressados</name>
            <fieldText>Digite os emails dos interessados em receber a Ata de Visita, separados por ponto e vírgula:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Digite os e-mail separados por ponto e vírgula sem espaços.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VisitaConcluida</name>
        <label>Visita Concluída</label>
        <locationX>526</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoVisitaConcluida</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;A Visita já foi concluída.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterCompromissoServico</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Ata</name>
        <label>Ata</label>
        <locationX>1948</locationX>
        <locationY>332</locationY>
        <flowName>Ata</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>CompromissoServico.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CompromissoServico</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Expediente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expediente__mdt</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItemLinhaOrdemTrabalho</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarItemLinhaOrdemTrabalho</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
