force-app/main/default/flows/FinalizarJornadaTrabalho.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>IdResponsavelChatter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058A000005LdfJ</stringValue>
        </value>
    </constants>
    <constants>
        <name>MensagemAtasPendentes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Há ata(s) pendente(s) de finalização para esse agendamento!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DECTemVisitaAndamento</name>
        <label>Tem visita em andamento?</label>
        <locationX>864</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>FinalizarJornadaTrabalho</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>DECTemVisitaAndamentoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaVisitaAndamento</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExisteEntradaPlanilhaHoras</name>
        <label>Existe Entrada de Planilha de Horas</label>
        <locationX>703</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>ObterCompromissosServico</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>NaoExisteTSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IniciarJornadaTrabalho</targetReference>
            </connector>
            <label>Não Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistePlanilhaHoras</name>
        <label>Existe Planilha de Horas</label>
        <locationX>467</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>ObterEntradaPlanilhaHoras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>NaoExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarPlanilhaHoras</targetReference>
            </connector>
            <label>Não Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificacaoAtasPendentes</name>
        <label>Verificação Atas Pendentes</label>
        <locationX>1898</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Pendentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarItemLinhaOrdemTrabalho.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegistrarFeed</targetReference>
            </connector>
            <label>Pendentes</label>
        </rules>
    </decisions>
    <interviewLabel>Finalizar Jornada de Trabalho {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finalizar Jornada de Trabalho</label>
    <loops>
        <name>VerificacaoItemLinhaOrdemTrabalho</name>
        <label>Verificação Item de Linha da Ordem de Trabalho</label>
        <locationX>1700</locationX>
        <locationY>246</locationY>
        <assignNextValueToReference>VarItemLinhaOrdemTrabalho</assignNextValueToReference>
        <collectionReference>ItemLinhaOrdemTrabalho</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerificacaoAtasPendentes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarPlanilhaHoras</name>
        <label>Criar Planilha de Horas</label>
        <locationX>296</locationX>
        <locationY>644</locationY>
        <assignRecordIdToReference>TimeSheetId</assignRecordIdToReference>
        <connector>
            <targetReference>IniciarJornadaTrabalho</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
    </recordCreates>
    <recordCreates>
        <name>RegistrarFeed</name>
        <label>Registrar Feed</label>
        <locationX>1794</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>VerificacaoItemLinhaOrdemTrabalho</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>MensagemAtasPendentes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>IdResponsavelChatter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarItemLinhaOrdemTrabalho.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObterCompromissosServico</name>
        <label>Obter Compromissos de Serviço</label>
        <locationX>707</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECTemVisitaAndamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActualStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterEntradaPlanilhaHoras</name>
        <label>Obter Entrada Planilha de Horas</label>
        <locationX>602</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteEntradaPlanilhaHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputAssignments>
            <assignToReference>TimeSheetEntryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterItensLinhaOrdemTrabalho</name>
        <label>Obter Itens de Linha da Ordem de Trabalho</label>
        <locationX>1474</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificacaoItemLinhaOrdemTrabalho</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>ItemLinhaOrdemTrabalho</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterPlanilhaHoras</name>
        <label>Obter Planilha de Horas</label>
        <locationX>476</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistePlanilhaHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>TimeSheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterRecursoServico</name>
        <label>Obter Recurso de Serviço</label>
        <locationX>476</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterPlanilhaHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastKnownLatitude</queriedFields>
        <queriedFields>LastKnownLongitude</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FinalizarEntradaPlanilhaHoras</name>
        <label>Finalizar Entrada da Planilha de Horas</label>
        <locationX>1218</locationX>
        <locationY>248</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoordenadasTermino__Latitude__s</field>
            <value>
                <elementReference>ServiceResource.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoordenadasTermino__Longitude__s</field>
            <value>
                <elementReference>ServiceResource.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <screens>
        <name>FinalizarJornadaTrabalho</name>
        <label>Finalizar Jornada de Trabalho</label>
        <locationX>1081</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FinalizarEntradaPlanilhaHoras</targetReference>
        </connector>
        <fields>
            <name>TextoFinalizarJornada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Clique em &quot;Avançar&quot; para &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;finalizar&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; a Jornada de Trabalho.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IniciarJornadaTrabalho</name>
        <label>Iniciar Jornada de Trabalho</label>
        <locationX>942</locationX>
        <locationY>644</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoIniciarJornada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;A Jornada de trabalho não foi iniciada!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaVisitaAndamento</name>
        <label>Tela Visita em Andamento</label>
        <locationX>1156</locationX>
        <locationY>81</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExTelaVisitaAndamento</name>
            <fieldText>&lt;p&gt;Antes de finalizar a Jornada de Trabalho, finalize sua Visita em andamento.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterRecursoServico</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ItemLinhaOrdemTrabalho</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>MensagemInicial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>TimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarItemLinhaOrdemTrabalho</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
