force-app/main/default/flows/FlowEnviaSurvey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envia_Pesquisa_E_Commerce</name>
        <label>Envia Pesquisa E-Commerce</label>
        <locationX>358</locationX>
        <locationY>1127</locationY>
        <actionName>satisfacao_e_commerce</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <connector>
            <targetReference>AtualizaFlagEnvio</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Envia_Pesquisa_Vendedor</name>
        <label>Envia Pesquisa Vendedor</label>
        <locationX>622</locationX>
        <locationY>1127</locationY>
        <actionName>satisfacao_vendedor_v2</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <connector>
            <targetReference>AtualizaFlagEnvio</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Confere_Flag</name>
        <label>Confere Flag</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>DecidePesquisaEnviada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flag False</defaultConnectorLabel>
        <rules>
            <name>Flag_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PesquisaEnviada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Flag True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confere_Permissao</name>
        <label>Confere Permissao</label>
        <locationX>864</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Permissao Negada</defaultConnectorLabel>
        <rules>
            <name>Permissao_Concedida</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.PSSurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.PSSurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confere_Status_Anterior</targetReference>
            </connector>
            <label>Permissao Concedida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confere_Status_Anterior</name>
        <label>Confere Status Anterior</label>
        <locationX>490</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Confere_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outro Status</defaultConnectorLabel>
        <rules>
            <name>Status_Anterior_Perdido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negociação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Motivo_N_o_Fechamento</targetReference>
            </connector>
            <label>Negociação -&gt; Perdido</label>
        </rules>
        <rules>
            <name>Any_Perdido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Perdido_com_motivo_de_fechamento_n_o_atendeu</targetReference>
            </connector>
            <label>Any -&gt; Perdido</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecidePesquisaEnviada</name>
        <label>DecidePesquisaEnviada</label>
        <locationX>490</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Envia_Pesquisa_Vendedor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vendedor</defaultConnectorLabel>
        <rules>
            <name>Vendedor</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EtapaEcommerce__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EtapaEcommerce__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EtapaEcommerce__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM ANÁLISE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envia_Pesquisa_E_Commerce</targetReference>
            </connector>
            <label>E-Commerce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Perdido_com_motivo_de_fechamento_n_o_atendeu</name>
        <label>Lead Perdido com motivo de fechamento não atendeu</label>
        <locationX>490</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>DecidePesquisaEnviada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>N_o_atendeu_N_o_envia_pesquisa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não Atende /Caixa Posta /Ligação Muda</stringValue>
                </rightValue>
            </conditions>
            <label>Não atendeu -&gt; Não envia pesquisa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Motivo_N_o_Fechamento</name>
        <label>Motivo Não Fechamento</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>DecidePesquisaEnviada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Motivo_N_o_atendeu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não Atende /Caixa Posta /Ligação Muda</stringValue>
                </rightValue>
            </conditions>
            <label>Motivo -&gt; Não atendeu</label>
        </rules>
    </decisions>
    <interviewLabel>EnviaSurveyFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowEnviaSurvey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AtualizaFlagEnvio</name>
        <label>Atualiza Flag de Envio</label>
        <locationX>490</locationX>
        <locationY>1343</locationY>
        <inputAssignments>
            <field>PesquisaEnviada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confere_Permissao</targetReference>
        </connector>
        <filterLogic>(1 or 2 or 3) and (not 4) and 5</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negociação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Perdido</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Convertido</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>@naotem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>CurrentLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
