force-app/main/default/flows/FluxoFechamentoAta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>VerificarStatus</name>
        <label>Verificar Status</label>
        <locationX>480</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>FechamentoAta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Concluida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AtaCorrente.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaAtaConcluida</targetReference>
            </connector>
            <label>Concluída</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarTipoAta</name>
        <label>Verificar Tipo de Ata</label>
        <locationX>483</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>VerificarStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outras</defaultConnectorLabel>
        <rules>
            <name>VerificarTipoAtaAtaCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificarStatus</targetReference>
            </connector>
            <label>Call</label>
        </rules>
        <rules>
            <name>VerificarTipoAtaClienteAusente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClienteAusente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificarStatus</targetReference>
            </connector>
            <label>Cliente Ausente</label>
        </rules>
    </decisions>
    <interviewLabel>Fluxo de fechamento de ata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo de fechamento de ata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>ObterAta</name>
        <label>Obter Ata</label>
        <locationX>494</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterTipoAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>AtaCorrente</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterTipoAta</name>
        <label>ObterTipo de Ata</label>
        <locationX>493</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarTipoAta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AtaCorrente.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FecharAtaCorrente</name>
        <label>Fechar Ata Corrente</label>
        <locationX>770</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>FechamentoAta</name>
        <label>Fechamento de Ata</label>
        <locationX>770</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FecharAtaCorrente</targetReference>
        </connector>
        <fields>
            <name>MensagemSucessoFechamento</name>
            <fieldText>&lt;p&gt;Clique em &quot;avançar&quot; para continuar.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaAtaConcluida</name>
        <label>Tela Ata Concluída</label>
        <locationX>280</locationX>
        <locationY>856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextoAtaConcluida</name>
            <fieldText>&lt;p&gt;Essa ata já foi finalizada.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaAtaNaoPermitida</name>
        <label>Ata não permitida</label>
        <locationX>228</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExAtaNaoPermitida</name>
            <fieldText>&lt;p&gt;Somente Atas do tipo Call ou Cliente Ausente podem ser finalizadas manualmente!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterAta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AtaCorrente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
