force-app/main/default/flows/FLUXO_TESTE_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>C_pia_1_de_ENVIA</name>
        <label>Cópia 1 de ENVIA</label>
        <locationX>380</locationX>
        <locationY>2030</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Mensagem_Sucesso_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Solicitado por {!$User.FirstName}  {!$User.LastName} - Proposta Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ModeloProposta</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>milena.costandrade123456@gmail.com,analisedeinformacao@unimedbh.com.br.teste,{!$User.Email},C_pia_1_de_EmailMais</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ENVIAEMAIL</name>
        <label>ENVIA</label>
        <locationX>116</locationX>
        <locationY>2030</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Mensagem_Sucesso_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Solicitado por {!$User.FirstName}  {!$User.LastName} - Formulario Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ENVIAEMAILCORPO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!EmailMais.value},milena.costandrade123456@gmail.com,analisedeinformacao@unimedbh.com.br.teste,{!$User.Email},teste.teste@gmail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decide_Objeto_que_ir_salvar</name>
        <label>Decide Objeto que irá salvar</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_Criar_registro_objeto_arquivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decide Proposta</defaultConnectorLabel>
        <rules>
            <name>Decide_Formul_rio_Ou_Proposta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefineConsultor.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_registro_objeto_arquivo</targetReference>
            </connector>
            <label>Decide Formulário</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_para_quem_dos_supervisores_vai_o_email</name>
        <label>Decide para quem dos supervisores vai o email</label>
        <locationX>248</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_Email_sera_enviado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Logado como Thiago</defaultConnectorLabel>
        <rules>
            <name>Logado_Papel_Consultor_Novos_Negocios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5w000002kuU4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefineConsultor.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_sera_enviado</targetReference>
            </connector>
            <label>Logado - Papel Consultor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decis_o_Custo_Puro</name>
        <label>Decisão Custo Puro</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>GET_COTA_O</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Custo_Puro_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustoPuro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Custo_Puro</targetReference>
            </connector>
            <label>Custo Puro True</label>
        </rules>
    </decisions>
    <interviewLabel>FLUXO TESTE 5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLUXO TESTE 5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>C_pia_1_de_Criar_registro_objeto_arquivo</name>
        <label>Criar registro objeto Proposta</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>ArquivoId</assignRecordIdToReference>
        <connector>
            <targetReference>C_pia_1_de_Anexar_Arquivo</targetReference>
        </connector>
        <inputAssignments>
            <field>Cotacoes__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservacoesProposta__c</field>
            <value>
                <elementReference>Observa_o</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentosProposta__c</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_registro_objeto_arquivo</name>
        <label>Criar registro objeto arquivo</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>ArquivoId</assignRecordIdToReference>
        <connector>
            <targetReference>Anexar_Arquivo</targetReference>
        </connector>
        <inputAssignments>
            <field>Cotacao__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacoes__c</field>
            <value>
                <elementReference>Observa_o</elementReference>
            </value>
        </inputAssignments>
        <object>Arquivo__c</object>
    </recordCreates>
    <recordLookups>
        <name>ContentDocument</name>
        <label>Content Document</label>
        <locationX>248</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getArquivo</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_COTA_O</name>
        <label>GET COTAÇÃO</label>
        <locationX>248</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mensagem_de_Sucesso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotacoes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tela_Cota_o</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getArquivo</name>
        <label>getArquivo</label>
        <locationX>248</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_para_quem_dos_supervisores_vai_o_email</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Arquivo__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Caminho</name>
        <label>Atualiza Caminho</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>GET_COTA_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StatusCotacao__c</field>
            <value>
                <stringValue>SolicitadaCDC</stringValue>
            </value>
        </inputAssignments>
        <object>Cotacoes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Caminho2</name>
        <label>Atualiza Caminho</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Decis_o_Custo_Puro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StatusCotacao__c</field>
            <value>
                <stringValue>Proposta comercial disponível para emissão</stringValue>
            </value>
        </inputAssignments>
        <object>Cotacoes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Custo_Puro</name>
        <label>Atualiza Custo Puro</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>GET_COTA_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cotacoes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustoPuro__c</field>
            <value>
                <elementReference>CustoPuro</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentosProposta__c</object>
    </recordUpdates>
    <screens>
        <name>Anexar_Arquivo</name>
        <label>Anexar Arquivo</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atualiza_Caminho</targetReference>
        </connector>
        <fields>
            <name>CabecalhoArquivo</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFT?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;52.png&quot;&gt;  &lt;strong style=&quot;font-size: 14px;&quot;&gt;Envio de Cotação&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Arquivo</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Insira o Arquivo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ArquivoId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>insira um ou mais arquivos</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Avançar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>C_pia_1_de_Anexar_Arquivo</name>
        <label>Cópia 1 de Anexar Arquivo</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atualiza_Caminho2</targetReference>
        </connector>
        <fields>
            <name>C_pia_1_de_CabecalhoArquivo</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFT?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;52.png&quot;&gt;  &lt;strong style=&quot;font-size: 14px;&quot;&gt;Envio de Cotação&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C_pia_1_de_Arquivo</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Insira o Arquivo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ArquivoId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>insira um ou mais arquivos</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CustoPuro</name>
            <dataType>Boolean</dataType>
            <fieldText>Custo Puro</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Custo puro? Sim! Clique&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Avançar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>C_pia_1_de_Email_sera_enviado</name>
        <label>Cópia 1 de Email sera enviado</label>
        <locationX>380</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C_pia_1_de_ENVIA</targetReference>
        </connector>
        <fields>
            <name>C_pia_1_de_CabecalhoEmail</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFi?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;52.png&quot;&gt; &lt;strong style=&quot;font-size: 14px;&quot;&gt;Envio de Cotação&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C_pia_1_de_Paraenviado</name>
            <fieldText>&lt;p&gt;Será enviado para os seguintes emails:&lt;/p&gt;&lt;p&gt;milena.costandrade123456@gmail.com	,analisedeinformacao@unimedbh.com.br.teste, {!$User.Email},pedrocampolina@gmail.com&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C_pia_1_de_Maisemail</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Deseja enviar para mais alguém?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>C_pia_1_de_EmailMais</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>C_pia_1_de_Maisemail.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_sera_enviado</name>
        <label>Email sera enviado</label>
        <locationX>116</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ENVIAEMAIL</targetReference>
        </connector>
        <fields>
            <name>CabecalhoEmail</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFi?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;52.png&quot;&gt; &lt;strong style=&quot;font-size: 14px;&quot;&gt;Envio de Cotação&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Paraenviado</name>
            <fieldText>&lt;p&gt;Será enviado para os seguintes emails:&lt;/p&gt;&lt;p&gt;milena.costandrade123456@gmail.com	,analisedeinformacao@unimedbh.com.br.teste, {!$User.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Maisemail</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Deseja enviar para mais alguém?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailMais</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Maisemail.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mensagem_de_Sucesso</name>
        <label>Mensagem de Sucesso Arquivo</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContentDocument</targetReference>
        </connector>
        <fields>
            <name>CabelhoArquivoSucess</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFY?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;52.png&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; Envio de Cotação&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SucessoArquivo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Arquivo Salvo com Sucesso &lt;/strong&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFd?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;icons8-ok.gif&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Enviar Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mensagem_Sucesso_Email</name>
        <label>Mensagem Sucesso Email</label>
        <locationX>248</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CabelhoeMail</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFn?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;52.png&quot;&gt; &lt;strong style=&quot;font-size: 14px;&quot;&gt;Envio de Cotação&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MensagemSucessoEmail</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Email Enviado com Sucesso &lt;/strong&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFs?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;icons8-ok.gif&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tela_Cota_o</name>
        <label>Tela Cotação</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decide_Objeto_que_ir_salvar</targetReference>
        </connector>
        <fields>
            <name>CabecalhoPersonalizado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;img src=&quot;https://unimedbh--qas.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688L0000007gFE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;52.png&quot;&gt;   Envio de Cotação&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tela_Cota_o_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tela_Cota_o_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DefineConsultor</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Anexar Formulário para análise?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_User.Profile.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>00e5w000001U0mg</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Formulario</name>
            <fieldText>&lt;p&gt;{!$User.FirstName} {!$User.LastName} - Formulário&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DefineConsultor.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tela_Cota_o_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tela_Cota_o_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DefineThiago</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Anexar Proposta?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Proposta</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.FirstName} &lt;/span&gt;{!$User.LastName} - Proposta &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DefineThiago.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tela_Cota_o_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tela_Cota_o_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ObservacaoNoEmail</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Colocar Observação no Corpo do Email?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Observa_o</name>
            <dataType>String</dataType>
            <fieldText>Observação</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObservacaoNoEmail.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tela_Cota_o_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tela_Cota_o_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Avançar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CORPOPROPOSTA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Proposta}
{!Observa_o}
Link da cotação: https://unimedbh--qas.sandbox.lightning.force.com/lightning/r/Cotacoes__c/{!RecordId}/view/
Link para download: https://unimedbh--qas.sandbox.lightning.force.com/lightning/r/{!ContentDocument.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>ENVIAEMAILCORPO</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;O formulário comercial referente a cotação {!GET_COTA_O.Name} da empresa {!GET_COTA_O.Empresa__c} está disponivel no sistema&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Link Arquivo: https://unimedbh--qas.sandbox.lightning.force.com/lightning/r/Arquivo__c/{!getArquivo.Id}/view&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Link da cotação: https://unimedbh--qas.sandbox.lightning.force.com/lightning/r/Cotacoes__c/{!RecordId}/view/&lt;/p&gt;&lt;p&gt;Link para download: https://unimedbh--qas.sandbox.lightning.force.com/lightning/r/{!ContentDocument.Id}/view&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Observa_o}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ModeloProposta</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;O proposta comercial referente a cotação {!GET_COTA_O.Name} da empresa {!GET_COTA_O.Empresa__c}  está disponivel no sistema&lt;/p&gt;&lt;p&gt;Link da cotação: https://unimedbh--qas.sandbox.lightning.force.com/lightning/r/Cotacoes__c/{!RecordId}/view/&lt;/p&gt;&lt;p&gt;Link para download: https://unimedbh--qas.sandbox.lightning.force.com/lightning/r/{!ContentDocument.Id}/view&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Observa_o}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Propostavariavel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!OBJETOCOTACAO.Campo_Thiago__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ArquivoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArquivoIdExtra</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colecao</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentBodyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OBJETOCOTACAO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Cotacoes__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Supervisordousuariologado</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
