force-app/main/default/flows/Formulario_Cancelado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Formulario_Cancelado_email</name>
        <label>Formulario Cancelado email</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Formulario {!GET_ARQUIVO.Name} Cancelado </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Modelodeenviodeemailcancelado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Formulario_Cancelado</name>
        <label>Formulario Cancelado</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Formulario_Cancelado_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ARQUIVO.FormularioCancelado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Cancelado_email</targetReference>
            </connector>
            <label>Formulario Cancelado true</label>
        </rules>
    </decisions>
    <interviewLabel>Formulario Cancelado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Formulario Cancelado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_ARQUIVO</name>
        <label>GET ARQUIVO</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Formulario_Cancelado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Arquivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_ARQUIVO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Modelodeenviodeemailcancelado</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O formulario {!GET_ARQUIVO.Name} da cotação {!GET_ARQUIVO.Cotacao__r.Name} da empresa {!GET_ARQUIVO.Cotacao__r.Lead__r.Company} foi cancelado</text>
    </textTemplates>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
