force-app/main/default/flows/IniciarVisita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>IdResponsavelChatter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058A000005LdfJQAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>MensagemAtasPendentes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Há ata(s) pendente(s) de finalização para esse agendamento!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DECJornadaTrabalhoIniciada</name>
        <label>Jornada de trabalho iniciada?</label>
        <locationX>652</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>TelaImpedirIniciarVisita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>DECJornadaTrabalhoIniciadaSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterCompromissoServico</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>TemOutrosCompromissosAndamento</name>
        <label>Tem outros compromissos em andamento?</label>
        <locationX>277</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>IniciarVisita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>DECTemOutrosCompromissosAndamentoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentInProgress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaTemOutrosCompromissos</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarStatusCompromissoServico</name>
        <label>Verificar Status do Compromisso de Serviço</label>
        <locationX>783</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>VisitaConcluida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Agendado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompromissoServico.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterTodosOutrosCompromissos</targetReference>
            </connector>
            <label>Agendado</label>
        </rules>
        <rules>
            <name>EmAndamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompromissoServico.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaAtaPreenchida</targetReference>
            </connector>
            <label>Em andamento</label>
        </rules>
    </decisions>
    <interviewLabel>Iniciar Visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Iniciar Visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>ObterCompromissoServico</name>
        <label>Obter Compromisso de Serviço</label>
        <locationX>790</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarStatusCompromissoServico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>CompromissoServico</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterPlanilhasHoras</name>
        <label>Obter Planilhas de Horas</label>
        <locationX>442</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECJornadaTrabalhoIniciada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>TimeSheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterRecursoServico</name>
        <label>Obter Recurso de Serviço</label>
        <locationX>260</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterPlanilhasHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterTodosOutrosCompromissos</name>
        <label>Obter Todos Outros Compromissos</label>
        <locationX>493</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TemOutrosCompromissosAndamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointmentInProgress</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarEmAndamento</name>
        <label>Atualizar Em andamento</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>AtualizarWOEmAndamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarWOEmAndamento</name>
        <label>Atualizar WO Em Andamento</label>
        <locationX>55</locationX>
        <locationY>923</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CompromissoServico.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>IniciarVisita</name>
        <label>Iniciar Visita</label>
        <locationX>50</locationX>
        <locationY>615</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AtualizarEmAndamento</targetReference>
        </connector>
        <fields>
            <name>TextoIniciarVisita</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Clique em &quot;Avançar&quot; para &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;iniciar&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; sua visita.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaAtaPreenchida</name>
        <label>Tela Ata Preenchida</label>
        <locationX>1083</locationX>
        <locationY>496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEVisitaIniciar</name>
            <fieldText>&lt;p&gt;A Visita já foi iniciada!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaImpedirIniciarVisita</name>
        <label>Tela Impedir Iniciar Visita</label>
        <locationX>371</locationX>
        <locationY>386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExImpedirIniciarVisita</name>
            <fieldText>&lt;p&gt;A Visita só pode ser executada caso a Jornada de trabalho já tenha sido iniciada.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaTemOutrosCompromissos</name>
        <label>Tela Tem Outros Compromissos</label>
        <locationX>283</locationX>
        <locationY>853</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExTemOutrosCompromissos</name>
            <fieldText>&lt;p&gt;Você não pode iniciar uma Visita com outra Visita em andamento.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VisitaConcluida</name>
        <label>Visita Concluída</label>
        <locationX>791</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoVisitaConcluida</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;A Visita já foi concluída.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>315</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterRecursoServico</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CompromissoServico</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Expediente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expediente__mdt</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItemLinhaOrdemTrabalho</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentInProgress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>TimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarItemLinhaOrdemTrabalho</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
