force-app/main/default/flows/IniciarJornadaTrabalho.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>IdResponsavelChatter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058A000005LdfJ</stringValue>
        </value>
    </constants>
    <constants>
        <name>MensagemAtasPendentes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Há ata(s) pendente(s) de finalização para esse agendamento!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ExisteEntradaPlanilhaHoras</name>
        <label>Existe Entrada de Planilha de Horas</label>
        <locationX>703</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>FinalizarJornadaTrabalho</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>NaoExisteTSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IniciarJornadaTrabalho</targetReference>
            </connector>
            <label>Não Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistePlanilhaHoras</name>
        <label>Existe Planilha de Horas</label>
        <locationX>467</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>ObterEntradaPlanilhaHoras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>NaoExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarPlanilhaHoras</targetReference>
            </connector>
            <label>Não Existe</label>
        </rules>
    </decisions>
    <interviewLabel>Iniciar Jornada de Trabalho {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Iniciar Jornada de Trabalho</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CriarEntradaPlanilhaHoras</name>
        <label>Criar Entrada da Planilha de Horas</label>
        <locationX>1218</locationX>
        <locationY>448</locationY>
        <inputAssignments>
            <field>CoordenadasInicio__Latitude__s</field>
            <value>
                <elementReference>ServiceResource.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoordenadasInicio__Longitude__s</field>
            <value>
                <elementReference>ServiceResource.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>CriarPlanilhaHoras</name>
        <label>Criar Planilha de Horas</label>
        <locationX>297</locationX>
        <locationY>644</locationY>
        <assignRecordIdToReference>TimeSheetId</assignRecordIdToReference>
        <connector>
            <targetReference>IniciarJornadaTrabalho</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
    </recordCreates>
    <recordLookups>
        <name>ObterEntradaPlanilhaHoras</name>
        <label>Obter Entrada Planilha de Horas</label>
        <locationX>602</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteEntradaPlanilhaHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputAssignments>
            <assignToReference>TimeSheetEntryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterPlanilhaHoras</name>
        <label>Obter Planilha de Horas</label>
        <locationX>476</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistePlanilhaHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>TimeSheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterRecursoServico</name>
        <label>Obter Recurso de Serviço</label>
        <locationX>476</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterPlanilhaHoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastKnownLatitude</queriedFields>
        <queriedFields>LastKnownLongitude</queriedFields>
    </recordLookups>
    <screens>
        <name>FinalizarJornadaTrabalho</name>
        <label>Finalizar Jornada de Trabalho</label>
        <locationX>935</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoFinalizarJornada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;A Jornada de trabalho já foi iniciada!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IniciarJornadaTrabalho</name>
        <label>Iniciar Jornada de Trabalho</label>
        <locationX>941</locationX>
        <locationY>644</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CriarEntradaPlanilhaHoras</targetReference>
        </connector>
        <fields>
            <name>TextoIniciarJornada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Clique em &quot;Avançar&quot; para &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;iniciar&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; a jornada de trabalho.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterRecursoServico</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ItemLinhaOrdemTrabalho</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>MensagemInicial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>TimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarItemLinhaOrdemTrabalho</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
