force-app/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj3cc764121c539700aa94ef41e1271311_FireJBTrigger</name>
        <label>SalesforceObj3cc764121c539700aa94ef41e1271311_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3cc764121c539700aa94ef41e1271311</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514006352</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;Status&quot;,&quot;CPF__c&quot;,&quot;CNPJ__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;TipoContratacao__c&quot;,&quot;MotivoNaoFechamento__c&quot;,&quot;MotivoNaoAgendamento__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj81cf47135a8680b4824db63de081d720_FireJBTrigger</name>
        <label>SalesforceObj81cf47135a8680b4824db63de081d720_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3cc764121c539700aa94ef41e1271311</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3cc764121c539700aa94ef41e1271311</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj81cf47135a8680b4824db63de081d720</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514006352</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;CPF__c&quot;,&quot;Status&quot;,&quot;CNPJ__c&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;TipoContratacao__c&quot;,&quot;MotivoNaoFechamento__c&quot;,&quot;MotivoNaoAgendamento__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja5b09004244f400c1d08cb43987086bf_FireJBTrigger</name>
        <label>SalesforceObja5b09004244f400c1d08cb43987086bf_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81cf47135a8680b4824db63de081d720</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81cf47135a8680b4824db63de081d720</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja5b09004244f400c1d08cb43987086bf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514006352</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;CPF__c&quot;,&quot;Status&quot;,&quot;CNPJ__c&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;TipoContratacao__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3cc764121c539700aa94ef41e1271311</name>
        <label>JB_Decision_Null_Check_SalesforceObj3cc764121c539700aa94ef41e1271311</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj81cf47135a8680b4824db63de081d720</name>
        <label>JB_Decision_Null_Check_SalesforceObj81cf47135a8680b4824db63de081d720</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3cc764121c539700aa94ef41e1271311</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj81cf47135a8680b4824db63de081d720_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj81cf47135a8680b4824db63de081d720_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj81cf47135a8680b4824db63de081d720_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj81cf47135a8680b4824db63de081d720_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj81cf47135a8680b4824db63de081d720_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj81cf47135a8680b4824db63de081d720_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja5b09004244f400c1d08cb43987086bf</name>
        <label>JB_Decision_Null_Check_SalesforceObja5b09004244f400c1d08cb43987086bf</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81cf47135a8680b4824db63de081d720</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_Decision</name>
        <label>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3cc764121c539700aa94ef41e1271311</name>
            <conditionLogic>( (1 AND 2)  AND  (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.TempoLeadPerdido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queria plano nacional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MotivoNaoAgendamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deseja plano com abrangência nacional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3cc764121c539700aa94ef41e1271311_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3cc764121c539700aa94ef41e1271311</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_State_change_Decision</name>
        <label>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj3cc764121c539700aa94ef41e1271311</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND  (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.TempoLeadPerdido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queria plano nacional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MotivoNaoAgendamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deseja plano com abrangência nacional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3cc764121c539700aa94ef41e1271311_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj3cc764121c539700aa94ef41e1271311</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj81cf47135a8680b4824db63de081d720_Decision</name>
        <label>JB_SalesforceObj81cf47135a8680b4824db63de081d720_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3cc764121c539700aa94ef41e1271311</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj81cf47135a8680b4824db63de081d720</name>
            <conditionLogic>( ( ( (1 OR 2)  OR 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sem Condições Financeiras</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MotivoNaoAgendamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Achou alto o valor do plano</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preço Acima da Concorrência</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.TempoLeadPerdido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj81cf47135a8680b4824db63de081d720_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj81cf47135a8680b4824db63de081d720</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj81cf47135a8680b4824db63de081d720_State_change_Decision</name>
        <label>JB_SalesforceObj81cf47135a8680b4824db63de081d720_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3cc764121c539700aa94ef41e1271311</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj81cf47135a8680b4824db63de081d720</name>
            <conditionLogic>NOT  ( ( ( (1 OR 2)  OR 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sem Condições Financeiras</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MotivoNaoAgendamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Achou alto o valor do plano</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preço Acima da Concorrência</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.TempoLeadPerdido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj81cf47135a8680b4824db63de081d720_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj81cf47135a8680b4824db63de081d720</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_Decision</name>
        <label>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81cf47135a8680b4824db63de081d720</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja5b09004244f400c1d08cb43987086bf</name>
            <conditionLogic>( ( (1 OR 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.MotivoNaoAgendamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queda/ligação muda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não Atende /Caixa Posta /Ligação Muda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DataLeadPerdido__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2021-12-01T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja5b09004244f400c1d08cb43987086bf_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja5b09004244f400c1d08cb43987086bf</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_State_change_Decision</name>
        <label>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81cf47135a8680b4824db63de081d720</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja5b09004244f400c1d08cb43987086bf</name>
            <conditionLogic>NOT  ( ( (1 OR 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.MotivoNaoAgendamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queda/ligação muda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MotivoNaoFechamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não Atende /Caixa Posta /Ligação Muda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.DataLeadPerdido__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2021-12-01T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja5b09004244f400c1d08cb43987086bf_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja5b09004244f400c1d08cb43987086bf</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja5b09004244f400c1d08cb43987086bf</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
