force-app/main/default/flows/Logica_LeadPai.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_LeadPai</name>
        <label>Set LeadPai</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>LeadPaiRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLead.LeadPai__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_os_status_dos_leads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verifica_os_status_dos_leads</name>
        <label>Verifica os status dos leads</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Lead_Pai_e_Filho_mesmo_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetLead.LeadPai__r.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Owner:User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetLead.LeadPai__r.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Lead Pai e Filho mesmo status</label>
        </rules>
    </decisions>
    <interviewLabel>Logica LeadPai {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Logica LeadPai</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_LeadPai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadPai__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadFIlhoRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadFIlhoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadPaiRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
