force-app/main/default/flows/LogTelefoneToggle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>LogTelefoneToggle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LogTelefoneToggle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObtemLeadAtual</name>
        <label>ObtemLeadAtual</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LogaUsuarioEmLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLeadAtual</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtemUsuarioAtual</name>
        <label>ObtemUsuarioAtual</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LogaUsuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>LogaUsuario</name>
        <label>LogaUsuario</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>TelefoneLeadAtual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Log__c</field>
            <value>
                <stringValue>{!ObtemUsuarioAtual.User_Log__c}, {!ObtemLeadAtual.Id}, {!$Flow.CurrentDateTime}, {!ObtemLeadAtual.LastName} &lt;br&gt;</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>LogaUsuarioEmLead</name>
        <label>LogaUsuarioEmLead</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>ObtemUsuarioAtual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLeadAtual</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LogVisualizacao__c</field>
            <value>
                <stringValue>{!ObtemLeadAtual.LogVisualizacao__c}, {!$Flow.CurrentDateTime}, {!$User.FirstName} {!$User.LastName}, {!$User.Id}</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>TelefoneLeadAtual</name>
        <label>TelefoneLeadAtual</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtemLeadAtual</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IdLeadAtual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
