force-app/main/default/flows/NotificacaoVencimentoProposta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envia_Email_Usuario</name>
        <label>Envia Email Usuario</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>GETNotificacaoPersonalizada</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>ALERTA PROPOSTA ESTÁ PARA VENCER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ModeloDeEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NotificaoPropostaVencendo</name>
        <label>Notificação Proposta Vencendo</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>A {!$Record.Name} vai vencer em 7 dias</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GETNotificacaoPersonalizada.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>VariaveisIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ALERTA PROPOSTA ESTÁ PARA VENCER</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Lista_Ids</name>
        <label>Lista Ids</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>VariaveisIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotificaoPropostaVencendo</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Notificação Vencimento Proposta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificação Vencimento Proposta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GETNotificacaoPersonalizada</name>
        <label>GET Notificação Personalizada</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lista_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VencimentoProposta</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Envia_Email_Usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuantosDiasFaltaVencimento__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>31.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Convertido__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DocumentosProposta__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-23</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ModeloDeEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;A {!$Record.Name} vai vencer em 7 dias&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Link da proposta: &lt;/strong&gt;https://unimedbh--qas.sandbox.lightning.force.com/lightning/r/DocumentosProposta__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>VariaveisIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
