force-app/main/default/flows/PesquisaProprietario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AtualizaLeadAtribuicao</name>
        <label>AtualizaLeadAtribuicao</label>
        <locationX>412</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputNome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputEMail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputTelefone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputCelular</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.CPF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputCPF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.CNPJ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputCNPJ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.Observacoes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputObservacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.NumeroVidas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputVidasNovas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.QtdeVidasTransferencia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputVidasTransferencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfereDuplicatasConfereRecords.TipoCliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputTipoCliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizaLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetErrorStatus</name>
        <label>SetErrorStatus</label>
        <locationX>808</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>IsErrorState</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>TelaEditarDados</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Achou_alto_o_valor_do_plano</name>
        <choiceText>Achou alto o valor do plano</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Achou alto o valor do plano</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agendado</name>
        <choiceText>Agendado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agendado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cadastro_de_benef_cio_RN</name>
        <choiceText>Cadastro de benefício RN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cadastro de benefício RN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancelamento_Reagendamento_de_visita_ou_confirma_o</name>
        <choiceText>Cancelamento/Reagendamento de visita ou confirmação</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelamento/Reagendamento de visita ou confirmação</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cliente_inadimplente</name>
        <choiceText>Cliente inadimplente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente inadimplente</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cliente_optou_por_ir_loja</name>
        <choiceText>Cliente optou por ir à loja</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente optou por ir à loja</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNPJ_cadastrado_a_menos_de_6_meses</name>
        <choiceText>CNPJ cadastrado a menos de 6 meses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CNPJ cadastrado a menos de 6 meses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deseja_plano_com_abrang_ncia_nacional</name>
        <choiceText>Deseja plano com abrangência nacional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deseja plano com abrangência nacional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Encaminhado_para_c_lula_de_vendas</name>
        <choiceText>Encaminhado para célula de vendas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Encaminhado para célula de vendas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fora_da_rea_de_abrang_ncia</name>
        <choiceText>Fora da área de abrangência</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fora da área de abrangência</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informa_es_da_ativa_o_da_contrata_o</name>
        <choiceText>Informações da ativação da contratação</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informações da ativação da contratação</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informa_es_sobre_contrata_o_via_site</name>
        <choiceText>Informações sobre contratação via site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informações sobre contratação via site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informa_o_para_Terceiros</name>
        <choiceText>Informação para Terceiros</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informação para Terceiros</stringValue>
        </value>
    </choices>
    <choices>
        <name>J_cliente_D_vidas_Acomoda_o_opcionais_adapta_o_ex_funcion_rio</name>
        <choiceText>Já é cliente, Dúvidas (Acomodação, opcionais, adaptação, ex-funcionário)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Já é cliente, Dúvidas (Acomodação, opcionais, adaptação, ex-funcionário)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Liga_o_Ativa</name>
        <choiceText>Ligação Ativa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ligação Ativa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Liga_o_Receptiva</name>
        <choiceText>Ligação Receptiva</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ligação Receptiva</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_o_possui_documenta_o_obrigat_ria</name>
        <choiceText>Não possui documentação obrigatória</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não possui documentação obrigatória</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outras_op_es_dentro_do_4020_4020_ou_Unidesk</name>
        <choiceText>Outras opções dentro do 4020-4020 ou Unidesk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outras opções dentro do 4020-4020 ou Unidesk</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outros</name>
        <choiceText>Outros</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outros</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queda_liga_o_muda</name>
        <choiceText>Queda/ligação muda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queda/ligação muda</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reagendamento_de_visita_ou_confirma_o</name>
        <choiceText>Reagendamento de visita ou confirmação</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reagendamento de visita ou confirmação</stringValue>
        </value>
    </choices>
    <choices>
        <name>RN_acima_de_28_dias</name>
        <choiceText>RN acima de 28 dias</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RN acima de 28 dias</stringValue>
        </value>
    </choices>
    <choices>
        <name>Troca_de_plano</name>
        <choiceText>Troca de plano</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Troca de plano</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vai_pensar_avaliar</name>
        <choiceText>Vai pensar/avaliar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vai pensar/avaliar</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ConferePermissoesUsuario</name>
        <label>ConferePermissoesUsuario</label>
        <locationX>742</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>ConfereDuplicatasResultado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>UserAcessoNegado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atendente de Call Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervisor de Call Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apoio Estratégico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coordenador suporte e-commerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promotor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gerente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00e5w000001CNg5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_HistoryLead</targetReference>
            </connector>
            <label>UserAcessoPermitido</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecInputNulo</name>
        <label>InputNulo?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ConfereDuplicatasConfereRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Input_Nulo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputNomeConfereDuplicatas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputNomeConfereDuplicatas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfereDuplicataErroTela</targetReference>
            </connector>
            <label>Input Nulo?</label>
        </rules>
    </decisions>
    <decisions>
        <name>HouveAgendamento</name>
        <label>Houve Agendamento?</label>
        <locationX>412</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>CriarTarefa_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agendamento.recordId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceAppointment</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResultadoNulo</name>
        <label>ResultadoNulo?</label>
        <locationX>423</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>ConferePermissoesUsuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ResultadoNuloTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfereDuplicatasConfereRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfereDuplicataErroTela</targetReference>
            </connector>
            <label>ResultadoNuloTrue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EditLeadTipoAtendimento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoCliente__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickListEditLead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoCliente__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Retorna o domínio da instancia</description>
        <name>V_Instance</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_540}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_540}))+&quot;lightning/o/Lead/new?count=1&amp;nooverride=1&amp;useRecordTypeCheck=1&amp;navigationLocation=LIST_VIEW&quot;</expression>
    </formulas>
    <interviewLabel>PesquisaProprietario {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pesquisa Proprietário</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarTarefa_0</name>
        <label>Criar Tarefa Sem Visita</label>
        <locationX>544</locationX>
        <locationY>1598</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo__c</field>
            <value>
                <elementReference>Motivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Assunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ConfereDuplicatasConfereRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CriarTarefaVisita</name>
        <label>Criar Tarefa Com Visita</label>
        <locationX>280</locationX>
        <locationY>1718</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdServiceAppointment__c</field>
            <value>
                <elementReference>GetServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo__c</field>
            <value>
                <elementReference>Motivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Assunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ConfereDuplicatasConfereRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ConfereDuplicatasConfereRecords</name>
        <label>ConfereDuplicatasConfereRecords</label>
        <locationX>423</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResultadoNulo</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ConfereDuplicataErroTela</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPFCNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_HistoryLead</name>
        <label>GET HistoryLead</label>
        <locationX>412</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TelaEditarDados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConfereDuplicatasConfereRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadHistory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceAppointment</name>
        <label>GetServiceAppointment</label>
        <locationX>280</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarTarefaVisita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConfereDuplicatasConfereRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaLead</name>
        <label>AtualizaLead</label>
        <locationX>412</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>TelaSucessoAgendamento</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorStatus</targetReference>
        </faultConnector>
        <inputReference>ConfereDuplicatasConfereRecords</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confere_Duplicatas</name>
        <label>Confere Duplicatas</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecInputNulo</targetReference>
        </connector>
        <fields>
            <name>lblConfereDuplicatas</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Digite o CPF/CNPJ, e-mail, telefone ou nome do lead á pesquisar&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Caso informe o CPF/CNPJ, insira apenas os números.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Caso seja o telefone, insira no seguinte formato: &quot;(DDD) XXXX-XXXX&quot;&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputNomeConfereDuplicatas</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Insira algo!&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(ISBLANK({!InputNomeConfereDuplicatas}))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfereDuplicataErroTela</name>
        <label>ConfereDuplicataErro</label>
        <locationX>176</locationX>
        <locationY>2342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfereDuplicataErro</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nenhum Lead encontrado com os dados informados.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CriarLead</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!V_Instance}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Clique aqui&lt;/a&gt; para criar um novo lead&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfereDuplicatasResultado</name>
        <label>Confere Duplicatas Resultado</label>
        <locationX>1072</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblConfereDuplicatasTextoResult</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Este Lead existe!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;O Dono do lead duplicado é: &quot;{!ConfereDuplicatasConfereRecords.Owner:User.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ConfereDuplicatasConfereRecords.Owner:Group.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;O status do lead é: &quot; &lt;span style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ConfereDuplicatasConfereRecords.Status}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RegistreLigacao</name>
        <label>Registro de Ligação</label>
        <locationX>412</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HouveAgendamento</targetReference>
        </connector>
        <fields>
            <name>RegistrarLigacao</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Registre a Ligação&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistreLigacao_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RegistreLigacao_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Motivo</name>
                    <choiceReferences>Agendado</choiceReferences>
                    <choiceReferences>Cliente_optou_por_ir_loja</choiceReferences>
                    <choiceReferences>Vai_pensar_avaliar</choiceReferences>
                    <choiceReferences>Outras_op_es_dentro_do_4020_4020_ou_Unidesk</choiceReferences>
                    <choiceReferences>Informa_es_da_ativa_o_da_contrata_o</choiceReferences>
                    <choiceReferences>Cadastro_de_benef_cio_RN</choiceReferences>
                    <choiceReferences>Cancelamento_Reagendamento_de_visita_ou_confirma_o</choiceReferences>
                    <choiceReferences>CNPJ_cadastrado_a_menos_de_6_meses</choiceReferences>
                    <choiceReferences>Cliente_inadimplente</choiceReferences>
                    <choiceReferences>Fora_da_rea_de_abrang_ncia</choiceReferences>
                    <choiceReferences>Deseja_plano_com_abrang_ncia_nacional</choiceReferences>
                    <choiceReferences>N_o_possui_documenta_o_obrigat_ria</choiceReferences>
                    <choiceReferences>RN_acima_de_28_dias</choiceReferences>
                    <choiceReferences>Queda_liga_o_muda</choiceReferences>
                    <choiceReferences>Troca_de_plano</choiceReferences>
                    <choiceReferences>Informa_o_para_Terceiros</choiceReferences>
                    <choiceReferences>Encaminhado_para_c_lula_de_vendas</choiceReferences>
                    <choiceReferences>Informa_es_sobre_contrata_o_via_site</choiceReferences>
                    <choiceReferences>Reagendamento_de_visita_ou_confirma_o</choiceReferences>
                    <choiceReferences>J_cliente_D_vidas_Acomoda_o_opcionais_adapta_o_ex_funcion_rio</choiceReferences>
                    <choiceReferences>Achou_alto_o_valor_do_plano</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Motivo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RegistreLigacao_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assunto</name>
                    <choiceReferences>Liga_o_Receptiva</choiceReferences>
                    <choiceReferences>Liga_o_Ativa</choiceReferences>
                    <choiceReferences>Email</choiceReferences>
                    <choiceReferences>Outros</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Liga_o_Receptiva</defaultSelectedChoiceReference>
                    <fieldText>Assunto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comentarios</name>
            <dataType>String</dataType>
            <fieldText>Comentários</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaEditarDados</name>
        <label>TelaEditarDados</label>
        <locationX>412</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AtualizaLeadAtribuicao</targetReference>
        </connector>
        <fields>
            <name>ExibeProprietarioLead</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Este Lead existe!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;O Dono do lead duplicado é: &quot;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!ConfereDuplicatasConfereRecords.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ConfereDuplicatasConfereRecords.Owner:User.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ConfereDuplicatasConfereRecords.Owner:Group.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;O status do lead é: &quot; &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!ConfereDuplicatasConfereRecords.Status}&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Clique em &quot;Próximo&quot; para editar os dados, ou &quot;Anterior&quot; para voltar á pesquisa.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;i&gt;Algum dos campos está I&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;nválido&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsErrorState</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HistoricoLead</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LeadHistory</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Historico Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_HistoryLead</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Field&quot;,&quot;guid&quot;:&quot;column-aeb3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Campo alterado&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OldvalString&quot;,&quot;guid&quot;:&quot;column-0c41&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Valor da string antiga&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NewvalString&quot;,&quot;guid&quot;:&quot;column-3fd5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Valor da nova string&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-1941&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Data de criação&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TelaEditarDados_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaEditarDados_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputNome</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConfereDuplicatasConfereRecords.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaEditarDados_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputEMail</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConfereDuplicatasConfereRecords.Email</elementReference>
                    </defaultValue>
                    <fieldText>E-Mail</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TelaEditarDados_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaEditarDados_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputCPF</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConfereDuplicatasConfereRecords.CPF__c</elementReference>
                    </defaultValue>
                    <fieldText>CPF (XXX.XXX.XXX-XX)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ConfereDuplicatasConfereRecords.PessoaFisica__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaEditarDados_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputCNPJ</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConfereDuplicatasConfereRecords.CNPJ__c</elementReference>
                    </defaultValue>
                    <fieldText>CNPJ (XX.XXX.XXX/XXXX-XX)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ConfereDuplicatasConfereRecords.PessoaFisica__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TelaEditarDados_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaEditarDados_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputTelefone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConfereDuplicatasConfereRecords.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Telefone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaEditarDados_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputCelular</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConfereDuplicatasConfereRecords.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Celular</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InputObservacao</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConfereDuplicatasConfereRecords.Observacoes__c</elementReference>
            </defaultValue>
            <fieldText>Observações</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InputTipoCliente</name>
            <choiceReferences>PickListEditLead</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConfereDuplicatasConfereRecords.TipoCliente__c</elementReference>
            </defaultValue>
            <fieldText>Tipo do Cliente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TelaEditarDados_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaEditarDados_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputVidasNovas</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>ConfereDuplicatasConfereRecords.NumeroVidas__c</elementReference>
                    </defaultValue>
                    <fieldText>Vidas Novas</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaEditarDados_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputVidasTransferencia</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>ConfereDuplicatasConfereRecords.QtdeVidasTransferencia__c</elementReference>
                    </defaultValue>
                    <fieldText>Vidas de Transferência</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaSucessoAgendamento</name>
        <label>TelaSucessoAgendamento</label>
        <locationX>412</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RegistreLigacao</targetReference>
        </connector>
        <fields>
            <name>TextoSucesso</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;b style=&quot;font-size: 16px; user-select: auto;&quot;&gt;Suce&lt;span class=&quot;ql-cursor&quot; style=&quot;user-select: auto;&quot;&gt;﻿&lt;/span&gt;sso!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Alterações confirmadas e salvas na base de dados.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ToggleAgendamento</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Deseja agendar uma visita á esse lead?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Não</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Sim</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Agendamento</name>
            <extensionName>c:scheduleComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ConfereDuplicatasConfereRecords.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ToggleAgendamento.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confere_Duplicatas</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>IsErrorState</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LeadHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadHistory</objectType>
    </variables>
</Flow>
