force-app/main/default/flows/PesquisaDeProprietario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>DecInputNulo</name>
        <label>InputNulo?</label>
        <locationX>813</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>ConfereDuplicatasConfereRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Input_Nulo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InputNomeConfereDuplicatas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputNomeConfereDuplicatas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfereDuplicataErroTela</targetReference>
            </connector>
            <label>Input Nulo?</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResultadoNulo</name>
        <label>ResultadoNulo?</label>
        <locationX>809</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>ConfereDuplicatasResultado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ResultadoNuloTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfereDuplicatasConfereRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfereDuplicataErroTela</targetReference>
            </connector>
            <label>ResultadoNuloTrue</label>
        </rules>
    </decisions>
    <interviewLabel>PesquisaDeProprietario {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pesquisa De Proprietario</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ConfereDuplicatasConfereRecords</name>
        <label>ConfereDuplicatasConfereRecords</label>
        <locationX>623</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResultadoNulo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ConfereDuplicataErroTela</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPFCNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputNomeConfereDuplicatas</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confere_Duplicatas</name>
        <label>Confere Duplicatas</label>
        <locationX>821</locationX>
        <locationY>170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecInputNulo</targetReference>
        </connector>
        <fields>
            <name>lblConfereDuplicatas</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Digite o cpf/cnpj, email, telefone ou nome do lead á pesquisar&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Caso cpf/cnpj, insira sem pontos ou hífen&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Caso telefone, insira no seguinte formato: &quot;(DDD) XXXX-XXXX&quot;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputNomeConfereDuplicatas</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Preencha o Campo!&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(ISBLANK({!InputNomeConfereDuplicatas}))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfereDuplicataErroTela</name>
        <label>ConfereDuplicataErro</label>
        <locationX>1018</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfereDuplicataErro</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nenhum Lead encontrado com os dados informados.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfereDuplicatasResultado</name>
        <label>Confere Duplicatas Resultado</label>
        <locationX>821</locationX>
        <locationY>681</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblConfereDuplicatasTextoResult</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Este Lead existe!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;O Dono do lead duplicado é: &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ConfereDuplicatasConfereRecords.Owner:User.FirstName} &lt;/span&gt;{!ConfereDuplicatasConfereRecords.Owner:User.LastName}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ConfereDuplicatasConfereRecords.Owner:Group.Name}&lt;/span&gt;&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>347</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Confere_Duplicatas</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
