force-app/main/default/flows/ProprietarioDuplicata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AtribuiDonoDuplicata</name>
        <label>AtribuiDonoDuplicata</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DonoDuplicata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtemDonoLeadDuplicado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuiDonoDuplicataGrupo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiDonoDuplicataGrupo</name>
        <label>AtribuiDonoDuplicataGrupo</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>GrupoDonoDuplicata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtemGrupoLeadDuplicado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proprietario_da_Duplicata_Encontrada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiLeadAComparar</name>
        <label>AtribuiLeadAComparar</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>LeadAComparar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtemRegistroLeadAComparar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObtemRegistroLeadDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiLeadDuplicado</name>
        <label>AtribuiLeadDuplicado</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LeadDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtemRegistroLeadDuplicado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfereSeDuplicatasExistem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ConfereSeDuplicatasExistem</name>
        <label>ConfereSeDuplicatasExistem</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Proprietario_da_Duplicata_NaoEncontrada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DuplicataInexistente</defaultConnectorLabel>
        <rules>
            <name>DuplicataInexistente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtemRegistroLeadDuplicado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtemDonoLeadDuplicado</targetReference>
            </connector>
            <label>DuplicataExistente</label>
        </rules>
    </decisions>
    <interviewLabel>Proprietario da Duplicata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proprietario da Duplicata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObtemDonoLeadDuplicado</name>
        <label>ObtemDonoLeadDuplicado</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtemGrupoLeadDuplicado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDuplicado.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtemGrupoLeadDuplicado</name>
        <label>ObtemGrupoLeadDuplicado</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiDonoDuplicata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDuplicado.Owner:Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtemRegistroLeadAComparar</name>
        <label>ObtemRegistroLeadAComparar</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiLeadAComparar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtemRegistroLeadDuplicado</name>
        <label>ObtemRegistroLeadDuplicado</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiLeadDuplicado</targetReference>
        </connector>
        <filterLogic>((1 and 4) OR (2 and 5) OR (3 and 6)) and 7</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadAComparar.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadAComparar.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadAComparar.MobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ObtemRegistroLeadAComparar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Proprietario_da_Duplicata_Encontrada</name>
        <label>Proprietario da Duplicata Encontrada</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Confirmar</backButtonLabel>
        <fields>
            <name>TextoExibidoDuplicata</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Este Lead pode estar duplicado!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Existe outro Lead com o mesmo telefone ou e-mail.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;O dono da duplicata é: &lt;/span&gt;&lt;i style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;&quot;{!DonoDuplicata.Name}{!GrupoDonoDuplicata.Name}&quot;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Entre em contato com o proprietário do lead para definir o responsável pela negociação.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;Text&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proprietario_da_Duplicata_NaoEncontrada</name>
        <label>Proprietario da Duplicata Nao Encontrada</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Confirmar</backButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtemRegistroLeadAComparar</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DonoDuplicata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>GrupoDonoDuplicata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>LeadAComparar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadDuplicado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
