force-app/main/default/flows/Trigger_Proposta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>O_registro_esta_sendo_Atualizado</name>
        <label>O registro esta sendo Atualizado?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Criar_vinculo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Campo_Vinculo_Proposta</targetReference>
            </connector>
            <label>Criar vinculo</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>Trigger Proposta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Proposta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>O_registro_esta_sendo_Atualizado</targetReference>
        </connector>
        <object>DocumentosProposta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Atualiza_Campo_Vinculo_Proposta</name>
        <label>Atualiza Campo Vinculo Proposta</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Atualizar_Campo_Vinculo_Proposta</flowName>
        <inputAssignments>
            <name>RecordIdCotacao</name>
            <value>
                <elementReference>$Record.Cotacoes__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordIdProposta</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
