force-app/main/default/flows/Trigger_Arquivo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Campo_Formulario_Cancelado_mudou</name>
        <label>Campo Formulario Cancelado mudou?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Formulario_Cancelado_mudou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FormularioCancelado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Cancelado</targetReference>
            </connector>
            <label>Formulario Cancelado mudou</label>
        </rules>
    </decisions>
    <interviewLabel>Trigger Arquivo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Arquivo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campo_Formulario_Cancelado_mudou</targetReference>
        </connector>
        <object>Arquivo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Formulario_Cancelado</name>
        <label>Formulario Cancelado</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Formulario_Cancelado</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
